///
/// CodeMirror dark theme
///
/// Made to go with the app's default dark admin theme.

@import '../../../admin/colors/dark/_variables';

.CodeMirror {
	background-color: $body_background;
	color: $text_color;
}

.CodeMirror-gutters {
    border-color: $box_border_color;
    background-color: inherit;
}

.CodeMirror-activeline-background {
	background: $box_background_color;
}

.cm-s-default .cm-comment {
	color: $light_gray;
}

span[role="presentation"] {
	color: #adceff;
}

.cm-s-default .cm-keyword {
	color: #ffee00;
}

.CodeMirror-line {

	span span.cm-keyword {

		& + span.cm-keyword {
			color: #ffaa00;

			& + span.cm-keyword {
				color: #ff0066;
			}
		}
	}
}

.cm-s-default .cm-builtin {
	color: #ffaa00;
}

.cm-s-default .cm-variable-2 {
	color: #66ff33;
}

.cm-s-default .cm-def,
.cm-def {
	color: #a770ff;
}

.cm-s-default .cm-string,
.cm-string {
	color: #3ad4fb;
}

.cm-variable {
	color: #ffee00;
}

.cm-s-default .cm-number {
    color: #ff7700;
}

.cm-operator {
	color: #ffee00;

	& + .cm-string {
		color: #ff7700;
	}
}

.cm-s-default .cm-atom {
	color: #ff0066;
}