/**
 * Default dark color scheme
 */
.CodeMirror {
  background-color: #222222;
  color: #ffffff;
}

.CodeMirror-gutters {
  border-color: #414141;
  background-color: inherit;
}

.CodeMirror-activeline-background {
  background: #282828;
}

.cm-s-default .cm-comment {
  color: #888888;
}

span[role="presentation"] {
  color: #adceff;
}

.cm-s-default .cm-keyword {
  color: #ffee00;
}

.cm-s-default .cm-keyword ~ .cm-keyword {
  color: #ff0066;
}

.cm-s-default .cm-builtin {
  color: #ffaa00;
}

.cm-s-default .cm-variable-2 {
  color: #71c837;
}

.cm-s-default .cm-def,
.cm-def {
  color: #5599ff;
}

.cm-s-default .cm-string,
.cm-string {
  color: #a467ff;
}

.cm-variable {
  color: #2affd5;
}

.cm-s-default .cm-number {
  color: #ff7700;
}

.cm-s-default .cm-atom {
  color: #ff0066;
}
