*.log
app-config.php
id-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/plugins/

/.htaccess
/sitemap.xml
/sitemap.xml.gz