*.log
app-config.php
id-config.php
# app-extend/
app-includes/extend/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/themes/

/.htaccess
/sitemap.xml
/sitemap.xml.gz