@import '../includes/partials/_reset';
@import '../includes/partials/_font-faces';
@import 'partials/_typography';
@import '../admin/partials/_forms';
@import '../includes/partials/_buttons';

p,
ul,
ol {
	margin-top: 1em;
}

.app-header {
	width: 100%;
	padding: 2rem;

	.app-identity {
		display: flex;
		align-items: center;
		max-width: 1280px;
		margin: 0 auto;

		.app-logo {
			max-width: 80px;
			margin-left: 1em;

			img {
				display: block;
				border-radius: 50%;
			}
		}

		.app-title {
			margin: 0;
			line-height: 1.1;
		}

		.app-description {
			margin-top: 0.25em;
			font-size: $px18;
			line-height: 1.2;

			@supports( font-variation-settings: normal ) {
				font-weight: 550;
			}
		}
	}
}

.setup-install-wrap {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2rem;

	header {
		h2 {
			margin: 0;
		}
	}

	ul,
	ol {
		li {
			font-weight: bold;

			span {
				font-size: 0.85em;
				font-weight: normal;
				font-style: italic;
			}
		}
	}
}

.app-footer {
	max-width: 1280px;
	margin: 2rem auto;
	padding: 0 2rem;
	font-size: 0.85em;
	font-style: italic;
}

form .description {
	font-size: $px14;
	font-style: italic;
}

ul,
ol,
dl {
	padding-left: 1em;
}

a img {
	border:0
}

.language-chooser .step {
	margin: 20px 0 15px -30px;
}

.language-chooser.app-core-ui .step .button.button-large {
	height: 36px;
	font-size: 14px;
	line-height: 33px;
	vertical-align: middle;
}

fieldset {

	&.tabbed-legend {

		// Margin & padding counteract the translate on legend.
		margin-top: 3em;
		padding-top: 0;

		legend {
			padding: 0.5em 1em;
			border: solid 1px $form_border_color;
			border-bottom: none;
			transform: translateY( calc( -50% + 2px ) );
		}

		& > div {

			&:first-of-type {
				p {
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}
	}
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
}

.form-table td {
	margin-bottom: 9px;
	padding: 10px 20px 10px 0;
	font-size: 14px;
	vertical-align: middle;
}

.form-table th {
	font-size: 14px;
	text-align: left;
	padding: 10px 20px 10px 0;
	width: 140px;
	vertical-align: middle;
}

.form-table code {
	line-height: 18px;
	font-size: 14px;
}

.form-table p {
	margin: 4px 0 0 0;
	font-size: 11px;
}

.form-table input[type=text],
.form-table input[type=email],
.form-table input[type=url],
.form-table input[type=password] {
	width: 206px;
}

.form-table th p {
	font-weight: 400;
}

.form-table.install-success th,
.form-table.install-success td {
	vertical-align: middle;
	padding: 16px 20px 16px 0;
}

.form-table.install-success td p {
	margin: 0;
	font-size: 14px;
}

.form-table.install-success td code {
	margin: 0;
	font-size: 18px;
}

#error-page {
	margin-top: 50px;
}

#error-page p {
	font-size: 14px;
	line-height: 18px;
	margin: 25px 0 20px;
}

.wp-hide-pw > .dashicons {
	position: relative;
	height: 0.5em;
	line-height: 1;
	vertical-align: text-top;
}

#pass-strength-result {
	background-color: #eee;
	border: 1px solid #ddd;
	margin: 0.5em;
	padding: 3px 5px;
	text-align: center;
	width: 218px;
	box-sizing: border-box;
	opacity: 0;
}

#pass-strength-result.short {
	background-color: #f1adad;
	border-color: #e35b5b;
	opacity: 1;
}

#pass-strength-result.bad {
	background-color: #fbc5a9;
	border-color: #f78b53;
	opacity: 1;
}

#pass-strength-result.good {
	background-color: #ffe399;
	border-color: #ffc733;
	opacity: 1;
}

#pass-strength-result.strong {
	background-color: #c1e1b9;
	border-color: #83c373;
	opacity: 1;
}

#pass1.short, #pass1-text.short {
	border-color: #e35b5b;
}

#pass1.bad, #pass1-text.bad {
	border-color: #f78b53;
}

#pass1.good, #pass1-text.good {
	border-color: #ffc733;
}

#pass1.strong, #pass1-text.strong {
	border-color: #83c373;
}

.password-weak {
	display: none;
}

.message {
	border-left: 4px solid $app_red;
	padding: .7em .6em;
	background-color: #fbeaea;
}

/* rtl:ignore */
#dbname,
#uname,
#pwd,
#dbhost,
#prefix,
#user_login,
#admin_email,
#pass1,
#pass2 {
	direction: ltr;
}

#pass1-text,
.show-password #pass1 {
	display: none;
}

.show-password #pass1-text
{
	display: inline-block;
}

.form-table span.description.important {
	font-size: 12px;
}

@media screen and ( max-width: 782px ) {

	.form-table {
		margin-top: 0;
	}

	.form-table th,
	.form-table td {
		display: block;
		width: auto;
	}

	.form-table th {
		padding: 20px 0 0;
	}

	.form-table td {
		padding: 5px 0;
		border: 0;
		margin: 0;
	}
}

.language-chooser select {
	display: block;
	width: 100%;
}

.screen-reader-input,
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.spinner {
	background: url(../images/spinner.gif) no-repeat;
	background-size: 20px 20px;
	visibility: hidden;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 20px;
	height: 20px;
	margin: 2px 5px 0;
}

.step .spinner {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

.button.hide-if-no-js,
.hide-if-no-js {
	display: none;
}

/**
 * HiDPI Displays
 */
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {

	.spinner {
		background-image: url(../images/spinner-2x.gif);
	}

}
