/**
 * Colors
 *
 * Some variables use colors set by args in the functions file.
 *
 * @see functions.php/setup
 */
$white: #ffffff;
$off_white: #eeeeee !default;
$pale_gray: #cccccc !default;
$light_gray: #888888 !default;
$medium_gray: #555555 !default;
$dark_gray: #333333 !default;
$near_black: #121212 !default;
$black: #000000;
$app_green: #44aa11 !default;
$app_yellow: #ffee00 !default;
$app_orange: #ee6600 !default;
$app_red: #dd0000 !default;

// Global app color variables.
$app_primary_color: $app_yellow !default;
$app_secondary_color: #222222 !default;
$app_tertiary_color: #004499 !default;
$app_highlight_color: $app_yellow !default;

$body_background: $white !default;
$text_color: $app_secondary_color !default;

// Standard links.
$link_color: $app_tertiary_color !default;
$link_action_color: lighten( $link_color, 12% ) !default;

// Bring attention to messages and user actions.
$notify_color: $app_orange !default;
$error_color: $app_red !default;
$warning_color: $app_yellow !default;
$success_color: $app_green !default;