// Import general app variables from app-assets/includes.
@import '../../includes/modules/_typography';
@import '../../includes/modules/_colors';
@import '../modules/_common';

/**
 * Dashboard tabs
 */
.tab-section-wrap__dashboard {
	display: flex;

	.tab-section-dashboard {
		min-width: 240px;
		max-width: 640px;

		&:not( :last-of-type ) {
			margin-right: 2rem;
		}

		& + div {
			margin-top: 2rem;
		}
	}

	.tab-section__dashboard-content,
	.tab-section__dashboard-accounts {

		ul {
			li:not( :last-of-type ) {
				margin-top: 0.35em;
			}
		}
	}
}

.dashboard-panel-call-to-action {
	a + a {
		// Force line break without <br> element.
		display: table;
		margin-top: 0.5em;
	}
}

/**
 * Dashboard widgets
 */
#dashboard-widgets-wrap {
	overflow: hidden;
	margin-top: 2rem;

	.columns-3 #postbox-container-4 .empty-container {
		border: none !important;
	}
}

#dashboard-widgets {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.35em 0.35em;
	width: 100%;
	height: 100%;

	@media screen and ( max-width: 1280px ) {
		grid-template-columns: repeat( 3, 1fr );
	}

	@media screen and ( max-width: 960px ) {
		grid-template-columns: repeat( 2, 1fr );
	}

	@media screen and ( max-width: 640px ) {
		grid-template-columns: repeat( 1, 1fr );
	}

	&.columns-3 {
		grid-template-columns: repeat( 3, 1fr );

		@media screen and ( max-width: 960px ) {
			grid-template-columns: repeat( 2, 1fr );
		}

		@media screen and ( max-width: 640px ) {
			grid-template-columns: repeat( 1, 1fr );
		}
	}

	&.columns-2 {
		grid-template-columns: repeat( 2, 1fr );

		@media screen and ( max-width: 640px ) {
			grid-template-columns: repeat( 1, 1fr );
		}
	}

	&.columns-1 {
		grid-template-columns: repeat( 1, 1fr );
	}

	.postbox-container {

		.postbox {
			position: relative;
			padding-bottom: 1em;
			border: solid $box_border_width $box_border_color;

			&.closed {
				padding-bottom: 0;
				border-bottom: 0;
			}

			.inside {
				margin-bottom: 0;

				ul {
					margin-top: 1em;
				}
			}

			form {
				.submit {
					float: none;
					margin: .5em 0 0;
					padding: 0;
					border: none;
				}
			}
		}
	}

	.meta-box-sortables {
		min-height: 100px;
	}
}

#tab-panel-draftposts {

	.app-tab-content-inner {
		display: flex;
		position: relative;

		@media screen and (max-width: 782px) {
			flex-direction: column;
		}
	}

	.app-tab-content-section {
		min-width: 160px;
		max-width: 480px;

		@media screen and (max-width: 782px) {
			max-width: 100%;
		}

		&:first-of-type {
			min-width: 320px;
		}

		&:not( :last-of-type ) {
			margin-right: 2rem;
		}
	}
}

.app-tabs {

	.app-tab-content {

		header {
			margin-bottom: 1em;
			padding-bottom: 1em;
			border-bottom: solid $box_border_width $box_border_color;
		}

		.dashboard-overview-item {
			margin: 0;
			margin-top: 0.35em;
		}
	}
}

.tab-icon-content {
	display: flex;
	padding-right: 2rem;

	@media screen and ( max-width: 799px ) {
		display: block;
	}

	figure {
		min-width: 80px;
		margin-right: 1em;

		@media screen and ( max-width: 799px ) {
			float: left;
		}

		a,
		img {
			display: block;
		}
	}

	h4 {
		font-size: 1.25em;
	}
}

/* Welcome Panel and Right Now common Icons style */

#dashboard_right_now li a:before,
#dashboard_right_now li span:before {
	color: #82878c;
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top;
}

/* Right Now specific Icons styles */

#dashboard_right_now li a:before,
#dashboard_right_now li > span:before { /* get only the first level span to exclude screen-reader-text in mu-storage */
	content: "\f159"; /* generic icon for items added by CPTs ? */
	padding: 0 5px 0 0;
}

#dashboard_right_now .page-count a:before,
#dashboard_right_now .page-count span:before {
	content: "\f105";
}

#dashboard_right_now .post-count a:before,
#dashboard_right_now .post-count span:before {
	content: "\f109";
}

#dashboard_right_now .comment-count a:before {
	content: "\f101";
}

#dashboard_right_now .comment-mod-count a:before {
	content: "\f125";
}

#dashboard_right_now .storage-count a:before {
	content: "\f104";
}

#dashboard_right_now .storage-count.warning a:before {
	content: "\f153";
}

/* Dashboard right now */

#dashboard_right_now ul {
	margin: 0;
	/* contain floats but don't use overflow: hidden */
	display: inline-block;
	width: 100%;
}

#dashboard_right_now li {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

#dashboard_right_now .inside {
	padding: 0;
}

#dashboard_right_now .main {
	padding: 0 12px 11px;

	h3 {
		font-weight: 700;

		&:not(:first-of-type) {
			padding-top: 0.75em;
			border-top: solid $box_border_width $box_border_color;
		}
	}

	p {
		margin: 0.25em 0 0;

		&:first-of-type {
			margin-top: 1em;
		}
	}
}

#dashboard_right_now #wp-version-message .button {
	float: right;
	position: relative;
	top: -5px;
	margin-left: 5px;
}

.mu-storage {
	overflow: hidden;
}

/* Dashboard right now - Colors */

#dashboard_right_now .sub {
	color: #555d66;
	background: #f5f5f5;
	border-top: 1px solid #eee;
	padding: 10px 12px 6px 12px;
}

#dashboard_right_now .sub h3 {
	color: #555;
}

#dashboard_right_now .sub p {
	margin: 0 0 1em;
}

#dashboard_right_now .warning a:before,
#dashboard_right_now .warning span:before {
	color: #d54e21;
}

// Quick draft.
#dashboard_quick_draft .inside {
	margin: 0;
	padding: 1em;
}

#dashboard_quick_draft div.updated {
	margin-bottom: 10px;
	border: 1px solid #eee;
	border-width: 1px 1px 1px 0;
}

#dashboard_quick_draft form {
	margin-top: 1em;
}

#dashboard_quick_draft p.description {
	margin: 0;
}

#dashboard_quick_draft .drafts,
#dashboard_quick_draft .easy-blogging {
	margin-top: 1em;
	padding: 10px 0 0;
}

/* Dashboard Quick Draft - Form styling */

#quick-press {

	input[type="text"],
	textarea {
		width: 100%;
		max-width: 640px;
	}

	.dashboard-quick-draft-error {
		margin: 1em 0;
	}

	textarea#content {
		height: 120px;
		min-height: 120px;
		max-height: 1300px;
	}
}

input#save-post {
	float: left;
}

form.initial-form.quickpress-open {

	label.prompt {
		font-style: normal;
	}

	input#title {
		height: auto;
	}
}

#dashboard_quick_draft input,
#dashboard_quick_draft textarea {
	box-sizing: border-box;
	margin: 0;
}

#dashboard_quick_draft textarea {
	resize: vertical;
}

#description-wrap {
	margin-top: 12px;
}

#title-wrap #title-prompt-text,
.textarea-wrap #content-prompt-text {
	color: $light_gray;
}

#title-wrap #title-prompt-text {
	font-size: 1.1em;
	padding: 7px 8px;
}

.input-text-wrap,
.textarea-wrap {
	position: relative;
}

.input-text-wrap .prompt,
.textarea-wrap .prompt {
	position: absolute;
}

.textarea-wrap #content-prompt-text {
	font-size: 1.1em;
	padding: 7px 8px;
}

.no-js #quick-press textarea#content {
	height: auto;
}

/* Dashboard Quick Draft - Drafts list */

.js #dashboard_quick_draft .drafts {
	border-top: 1px solid #eee;
}

#dashboard_quick_draft .drafts abbr {
	border: none;
}

#dashboard_quick_draft .drafts .view-all {
	float: right;
	margin: 0 12px 0 0;
}

#dashboard_primary a.rsswidget {
	font-weight: 400;
}

#dashboard_quick_draft .drafts ul {
	margin: 1em 0 0;
}

.app-tab-column__recent-drafts .drafts li {
	margin-bottom: 1em;
}

.app-tab-column__recent-drafts .drafts p {
	margin: 0;
	word-wrap: break-word;
}

#dashboard_quick_draft .drafts a {
	font-weight: 700;

	@supports( font-variation-settings: normal ) {
		font-weight: 600;
	}
}

#dashboard_quick_draft .draft-title {
	word-wrap: break-word;
}

#dashboard_quick_draft .draft-title a,
#dashboard_quick_draft .draft-title time {
	margin: 0 5px 0 0;
}

#dashboard_quick_draft .drafts h2 {
	line-height: inherit;
}

/* Dashboard activity widget */

#dashboard_activity .comment-meta span.approve:before {
	content: "\f227";
	font: 20px/.5 dashicons;
	margin-left: 5px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: 2px;
}

#dashboard_activity .inside {
	margin: 0;
	padding-bottom: 0;
}

#dashboard_activity .no-activity {
	overflow: hidden;
	padding: 0 0 12px;
	text-align: center;
}

#dashboard_activity .no-activity p {
	color: #72777c;
	font-size: 16px;
}

#dashboard_activity .no-activity .smiley {
	margin-top: 0;
}

#dashboard_activity .no-activity .smiley:before {
	content: "\f328";
	font: normal 120px/1 dashicons;
	speak: none;
	display: block;
	margin: 0 5px 0 0;
	padding: 0;
	text-indent: 0;
	text-align: center;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-decoration: none !important;
}

#dashboard_activity .subsubsub {
	float: none;
	border-top: 1px solid #eee;
	margin: 0 -12px;
	padding: 8px 12px 4px;
}

#dashboard_activity .subsubsub a .count,
#dashboard_activity .subsubsub a.current .count {
	color: #72777c; /* white background on the dashboard but #f1f1f1 on list tables */
}

#future-posts ul,
#published-posts ul {
	clear: both;
	margin-bottom: 0;

	span {
		display: inline-block;
		margin-right: 5px;
	}
}

#future-posts a,
#published-posts a {
	font-weight: 700;

	@supports( font-variation-settings: normal ) {
		font-weight: 600;
	}
}

.activity-block {
	border-bottom: 1px solid $box_border_color;

	&:last-child {
		border-bottom: none;
	}

	.subsubsub li {
		color: $light_gray;
	}
}

// Dashboard activity widget - Comments.
#activity-widget #the-comment-list {

	tr.undo,
	div.undo {
		background: none;
		padding: 6px 0;
		margin-left: 12px;
	}

	.comment-item {
		padding: 12px;
		position: relative;

		&:first-child {
			border-top: 1px solid #eeeeee;
		}

		p.row-actions {
			margin: 4px 0 0 0;
		}
	}

	.avatar {
		position: absolute;
		top: 12px;
	}

	.dashboard-comment-wrap {
		padding-left: 63px;

		blockquote {
			margin: 1em 0;
		}
	}

	.unapproved {
		background-color: #fef7f1;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background: $app_red;
			width: 4px;
		}
	}

	.spam-undo-inside .avatar,
	.trash-undo-inside .avatar {
		position: relative;
		top: 0;
	}
}

.postbox .button-link .edit-box {
	display: none;
}

.edit-box {
	opacity: 0;
}

.hndle:hover .edit-box,
.edit-box:focus {
	opacity: 1;
}

#dashboard-widgets form .input-text-wrap input {
	width: 100%;
}

#dashboard-widgets form .textarea-wrap textarea {
	width: 100%;
}

#dashboard-widgets-wrap #dashboard-widgets .postbox form .submit #publish {
	min-width: 0;
}

#dashboard-widgets a,
#dashboard-widgets .button-link {
	text-decoration: none;
}

#dashboard-widgets h2 a {
	text-decoration: underline;
}

#dashboard-widgets .hndle .postbox-title-action {
	float: right;
	line-height: 1.2;
}

#dashboard_plugins h5 {
	font-size: 14px;
}

/* Recent Comments */

#latest-comments {

	#the-comment-list {
		position: relative;
		margin: 0 -12px;
	}

	.subsubsub {
		font-size: $px13;
	}
}

#activity-widget #the-comment-list .comment,
#activity-widget #the-comment-list .pingback {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06);
}

#activity-widget .comments #the-comment-list .alt {
	background-color: transparent;
}

#activity-widget #latest-comments #the-comment-list .comment-item {
	/* the row-actions paragraph is output only for users with 'edit_comment' capabilities,
	   for other users this needs a min height equal to the gravatar image */
	min-height: 50px;
	margin: 0;
	padding: 12px;
}

#latest-comments #the-comment-list .pingback {
	padding-left: 12px !important;
}

#latest-comments #the-comment-list .comment-item:first-child {
	border-top: none;
}

#latest-comments #the-comment-list .comment-meta {
	line-height: 1.5em;
	margin: 0;
	color: #666;
}

#latest-comments #the-comment-list .comment-meta cite {
	font-style: normal;
	font-weight: 400;
}

#latest-comments #the-comment-list .comment-item blockquote,
#latest-comments #the-comment-list .comment-item blockquote p {
	margin: 0;
	padding: 0;
	display: inline;
}

#latest-comments #the-comment-list .comment-item p.row-actions {
	margin: 3px 0 0;
	padding: 0;
	font-size: 13px;
}

.dashboard-comment-wrap {
	word-wrap: break-word;
}

// Quick draft.
#title-wrap {

	label {
		cursor: text;
	}

	#title {
		padding: 2px 6px;
		font-size: 1.3em;
		outline: none;
	}

	#title-prompt-text {
		font-size: 1.1em;
		padding: 5px 8px;
	}
}

#description-wrap label {
	cursor: text;
}

// Feeds.
.rss-widget {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			line-height: 1.5em;
			margin-bottom: 12px;
		}
	}

	span.rss-date {
		color: #72777c;
		font-size: 13px;
		margin-left: 3px;
	}

	cite {
		display: block;
		text-align: right;
		margin: 0 0 1em;
		padding: 0;

		&:before {
			content: "\2014";
		}
	}
}

a.rsswidget {
	font-size: 13px;
	font-weight: 600;
	line-height: 1.4em;
}


///
/// Media queries
///
@media screen and ( max-width: 782px ) {

	#dashboard_recent_comments #the-comment-list .comment-item .avatar {
		height: 30px;
		width: 30px;
		margin: 4px 10px 5px 0;
	}
}

@media screen and (max-width: 600px) {}
