/**
 * Browser reset
 */
@import url(forms.min.css);
@import url(l10n.min.css);
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, button, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, div, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
  background-color: inherit;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

*:before, *:after {
  font-size: inherit;
}

img, object, embed, video {
  max-width: 100%;
}

img {
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

hr {
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

a, a:hover, a:active, a:focus {
  outline: none;
  background-color: transparent;
}

small {
  font-size: 85%;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

input {
  line-height: normal;
}

input, textarea, select, button {
  border: solid 1px #cccccc;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

*::-webkit-input-placeholder {
  color: #888888;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #888888;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #888888;
  opacity: 1;
}

*::placeholder {
  color: #888888;
  opacity: 1;
}

textarea {
  overflow: auto;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, html input[type="button"], input[type="reset"], input[type="submit"], input[type="image"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td, td img {
  font-weight: normal;
  vertical-align: top;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

dfn {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

blockquote {
  quotes: none;
}

q, cite {
  font-style: italic;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden], template {
  display: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
}

b, strong, optgroup {
  font-weight: bold;
}

.clearfix {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
}

/**
 * General app typography
 *
 * These styles are primarily used in administration pages.
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
  color: #222222;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  background-color: inherit;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.325em;
  line-height: 1.4em;
}

@supports (font-variation-settings: normal) {
  h1 {
    font-weight: 750;
    letter-spacing: -0.02em;
  }
}

h2,
h3 {
  font-size: 1.3em;
}

/**
 * Main content area of the admin
 */
.app-content p {
  margin-top: 1em;
}

.app-content a {
  -webkit-transition: all .15s;
  transition: all .15s;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
}

.serif {
  font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif;
}

.global-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 1em;
}

code {
  background: #eee;
  padding: 0.15em 0.3em;
}

.app-header {
  width: 100%;
  padding: 2rem;
}

.app-header .app-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.app-header .app-identity .app-logo {
  max-width: 80px;
  margin-left: 1em;
}

.app-header .app-identity .app-logo img {
  display: block;
  border-radius: 50%;
}

.app-header .app-identity .app-title {
  margin: 0;
  line-height: 1.1;
}

.app-header .app-identity .app-description {
  margin-top: 0.25em;
  font-size: 1.125rem;
  line-height: 1.2;
}

.setup-install-wrap {
  padding: 0 2rem;
}

.setup-install-wrap header h2 {
  margin: 0;
}

.setup-install-wrap ol li {
  font-weight: bold;
}

.setup-install-wrap ol li span {
  font-size: 0.85em;
  font-weight: normal;
  font-style: italic;
}

.setup-install-wrap fieldset {
  padding: 0.5em 1.5em 1em;
  border: solid 1px #888888;
}

.setup-install-wrap fieldset:not(:first-of-type) {
  margin-top: 1em;
}

.setup-install-wrap fieldset legend {
  padding: 0.5em;
  font-size: 1.1875rem;
  font-weight: bold;
}

.setup-install-wrap .button {
  -webkit-transition: background-color .15s, border-color .15s;
  transition: background-color .15s, border-color .15s;
  font-size: 1rem;
  color: #1c1c1c;
}

.setup-install-wrap input:not([type="submit"]) {
  padding: 0.5em 0.75em;
}

.app-footer {
  padding: 0 2rem;
  font-size: 0.85em;
  font-style: italic;
  color: #666;
}

.setup-config-field.setup-config-app-name input {
  width: 100%;
  max-width: 360px;
  margin-top: 1em;
}

ul,
ol,
dl {
  padding-right: 1em;
}

a img {
  border: 0;
}

abbr {
  border: 0;
  font-variant: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  font-weight: bold;
}

.language-chooser .step {
  margin: 20px -30px 15px 0;
}

.language-chooser.app-core-ui .step .button.button-large {
  height: 36px;
  font-size: 14px;
  line-height: 33px;
  vertical-align: middle;
}

textarea {
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-table {
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
}

.form-table td {
  margin-bottom: 9px;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  vertical-align: middle;
}

.form-table th {
  font-size: 14px;
  text-align: right;
  padding: 10px 0 10px 20px;
  width: 140px;
  vertical-align: middle;
}

.form-table code {
  line-height: 18px;
  font-size: 14px;
}

.form-table p {
  margin: 4px 0 0 0;
  font-size: 11px;
}

.form-table input[type=text],
.form-table input[type=email],
.form-table input[type=url],
.form-table input[type=password] {
  width: 206px;
}

.form-table th p {
  font-weight: 400;
}

.form-table.install-success th,
.form-table.install-success td {
  vertical-align: middle;
  padding: 16px 0 16px 20px;
}

.form-table.install-success td p {
  margin: 0;
  font-size: 14px;
}

.form-table.install-success td code {
  margin: 0;
  font-size: 18px;
}

#error-page {
  margin-top: 50px;
}

#error-page p {
  font-size: 14px;
  line-height: 18px;
  margin: 25px 0 20px;
}

.wp-hide-pw > .dashicons {
  position: relative;
  height: 0.5em;
  line-height: 1;
  vertical-align: text-top;
}

#pass-strength-result {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #222;
  margin: 0.5em;
  padding: 3px 5px;
  text-align: center;
  width: 218px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
}

#pass-strength-result.short {
  background-color: #f1adad;
  border-color: #e35b5b;
  opacity: 1;
}

#pass-strength-result.bad {
  background-color: #fbc5a9;
  border-color: #f78b53;
  opacity: 1;
}

#pass-strength-result.good {
  background-color: #ffe399;
  border-color: #ffc733;
  opacity: 1;
}

#pass-strength-result.strong {
  background-color: #c1e1b9;
  border-color: #83c373;
  opacity: 1;
}

#pass1.short, #pass1-text.short {
  border-color: #e35b5b;
}

#pass1.bad, #pass1-text.bad {
  border-color: #f78b53;
}

#pass1.good, #pass1-text.good {
  border-color: #ffc733;
}

#pass1.strong, #pass1-text.strong {
  border-color: #83c373;
}

.password-weak {
  display: none;
}

.message {
  border-right: 4px solid #dd0000;
  padding: .7em .6em;
  background-color: #fbeaea;
}

/* rtl:ignore */
#dbname,
#uname,
#pwd,
#dbhost,
#prefix,
#user_login,
#admin_email,
#pass1,
#pass2 {
  direction: ltr;
}

#pass1-text,
.show-password #pass1 {
  display: none;
}

.show-password #pass1-text {
  display: inline-block;
}

.form-table span.description.important {
  font-size: 12px;
}

@media screen and (max-width: 782px) {
  .form-table {
    margin-top: 0;
  }
  .form-table th,
  .form-table td {
    display: block;
    width: auto;
  }
  .form-table th {
    padding: 20px 0 0;
  }
  .form-table td {
    padding: 5px 0;
    border: 0;
    margin: 0;
  }
  textarea,
  input {
    font-size: 16px;
  }
  .form-table td input[type="text"],
  .form-table td input[type="email"],
  .form-table td input[type="url"],
  .form-table td input[type="password"],
  .form-table td select,
  .form-table td textarea,
  .form-table span.description {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    padding: 7px 10px;
    display: block;
    max-width: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.language-chooser select {
  display: block;
  width: 100%;
}

.screen-reader-input,
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.spinner {
  background: url(../images/spinner.gif) no-repeat;
  background-size: 20px 20px;
  visibility: hidden;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width: 20px;
  height: 20px;
  margin: 2px 5px 0;
}

.step .spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.button.hide-if-no-js,
.hide-if-no-js {
  display: none;
}

/**
 * HiDPI Displays
 */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .spinner {
    background-image: url(../images/spinner-2x.gif);
  }
}
