/**
 * Plugins
 */

// Import general app variables from app-assets/includes.
@import '../../includes/modules/_typography';
@import '../../includes/modules/_colors';

.upload-plugin-wrap {

	.upload-plugin {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		display: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
		-moz-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		margin: 0;
		padding: 50px 0;
		width: 100%;
		overflow: hidden;
		position: relative;
		top: 10px;

		&.upload-plugin-open {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
		}

		.wp-upload-form {
			margin-top: 2em;
			padding: 2em;
			border: 1px solid $form_border_color;
		}

		.install-help {
			font-style: normal;
			font-weight: 700;
			margin: 0;
			padding: 0;
			text-align: center;

			@supports (font-variation-settings: normal) {
				font-weight: 600;
			}
		}
	}
}

.no-js {
	.upload-plugin-wrap {
		.upload-plugin {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
		}
	}
}

.plugin-install-tab-upload .upload-plugin {
	display: block;
}
