/**
 * Themes
 */
body.js .theme-browser.search-loading {
  display: none;
}

.themes-php .search-form {
  display: inline;
}

.theme-browser {
  margin-top: 2rem;
}

.theme-browser .themes:not(.single-theme) {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-flow: row dense;
}

.theme-browser .themes:not(.single-theme) .theme-overlay .theme-wrap {
  clear: both;
  position: fixed;
  top: 9%;
  left: 190px;
  right: 30px;
  bottom: 3%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.theme-browser .themes.single-theme .theme-overlay .theme-backdrop,
.theme-browser .themes.single-theme .theme-overlay .theme-header,
.theme-browser .themes.single-theme .theme {
  display: none;
}

.theme-browser .themes.single-theme .theme-overlay .theme-wrap {
  position: static;
  max-width: 1280px;
  padding: 2rem;
  border: solid 1px #cccccc;
}

.theme-browser .themes.single-theme .theme-overlay .theme-about {
  position: static;
  padding: 0 0 2rem;
}

.theme-browser .themes.single-theme .theme-overlay .theme-actions {
  position: static;
  padding: 0.5rem 0;
}

.theme-browser .themes.single-theme .theme-actions h2 {
  margin: 0;
  font-size: 1.0625rem;
}

.theme-browser .themes .theme .theme-cover-image {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.theme-browser .themes .theme .theme-cover-image:after {
  display: block;
  padding-top: 62%;
  padding-top: calc(100% / 1.625);
}

.theme-browser .themes .theme .theme-cover-image img {
  display: block;
}

.theme-browser .themes .update-message {
  background-color: #ffffff;
}

.theme-browser .themes .update-message p {
  font-size: 0.9375rem;
  font-weight: 700;
}

@supports (font-variation-settings: normal) {
  .theme-browser .themes .update-message p {
    font-weight: 600;
  }
}

.theme-browser .theme {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #888888;
  cursor: pointer;
}

.theme-browser .theme .notice,
.theme-browser .theme .notice.is-dismissible {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.theme-browser .theme .theme-name {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9375rem;
}

.theme-browser .theme .theme-actions {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  height: auto;
}

.theme-browser .theme .theme-actions .button {
  margin-right: 0.3em;
}

.theme-browser .theme .theme-actions .button:not(:last-of-type) {
  margin-right: 0.3em;
}

.theme-browser .theme .theme-actions .button.customize {
  margin: 0;
}

.theme-browser .theme:hover .theme-actions,
.theme-browser .theme.focus .theme-actions,
.theme-browser .theme:focus .theme-actions {
  opacity: 1;
}

.theme-browser .theme .theme-cover-image {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.theme-browser .theme .theme-cover-image:after {
  display: block;
  padding-top: 62%;
  padding-top: calc(100% / 1.625);
}

.theme-browser .theme .theme-cover-image img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.theme-browser .theme .more-details {
  opacity: 0;
  position: absolute;
  top: 42%;
  right: 20%;
  left: 20%;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 0.9375rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  padding: 1em;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@supports (font-variation-settings: normal) {
  .theme-browser .theme .more-details {
    font-weight: 600;
  }
}

.theme-browser .theme.active .theme-name {
  background: #222;
  color: #ffffff;
  padding-right: 110px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}

.theme-browser .theme.active .theme-name span {
  color: #ffee00;
}

.theme-browser .theme.active .theme-actions {
  background: rgba(49, 49, 49, 0.7);
  border-left: none;
  opacity: 1;
}

.theme-browser .theme.active:focus .theme-actions {
  display: block;
}

.theme-browser .theme.active .theme-name {
  padding-right: 1rem;
}

.theme-browser .theme.active .theme-actions,
.theme-browser .theme .theme-actions {
  position: absolute;
  top: 50%;
  right: 0.3em;
  z-index: 3;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.theme-browser .theme .theme-author {
  display: none;
  font-size: 0.875rem;
  margin: 0 0.5em;
  padding: 0.3em 0.5em;
  position: absolute;
  bottom: 3.5rem;
}

.theme-browser .theme.add-new-theme {
  border: none;
}

.theme-browser .theme.add-new-theme a {
  display: block;
  position: relative;
  z-index: 1;
  color: #222222;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}

.theme-browser .theme.add-new-theme a:hover, .theme-browser .theme.add-new-theme a:focus {
  background: #ffee00;
  color: #004499;
}

.theme-browser .theme.add-new-theme a:hover .theme-cover-image, .theme-browser .theme.add-new-theme a:focus .theme-cover-image {
  background: none;
}

.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after {
  content: "\f132";
  background: #ffffff;
  color: #005fd6;
}

.theme-browser .theme.add-new-theme a:hover :after, .theme-browser .theme.add-new-theme a:focus :after {
  border-color: transparent;
  color: #222222;
  content: '';
}

.theme-browser .theme.add-new-theme a:hover .theme-name, .theme-browser .theme.add-new-theme a:focus .theme-name {
  z-index: 2;
}

.theme-browser .theme.add-new-theme a:after {
  display: block;
  content: '';
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  text-shadow: none;
}

.theme-browser .theme.add-new-theme span:after {
  border-radius: 50%;
  display: inline-block;
  content: "\f132";
  -webkit-font-smoothing: antialiased;
  font: normal 74px/115px dashicons;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -50px;
  text-indent: -4px;
  padding: 0;
  z-index: 4;
}

.theme-browser .theme.add-new-theme .theme-name {
  text-align: center;
}

.theme-browser .theme.display-author .theme-author {
  display: block;
}

.theme-browser .theme.display-author .theme-author a {
  color: inherit;
  text-decoration: none;
}

.theme-browser .theme:hover, .theme-browser .theme:focus {
  border-color: #005fd6;
  cursor: pointer;
}

.theme-browser .theme:hover .theme-cover-image, .theme-browser .theme:focus .theme-cover-image {
  background: #ffffff;
}

.theme-browser .theme:focus .more-details {
  opacity: 1;
}

.theme-browser.rendered .theme:hover .theme-cover-image img, .theme-browser.rendered .theme:focus .theme-cover-image img {
  opacity: 0.4;
}

.theme-browser.rendered .theme:hover .more-details, .theme-browser.rendered .theme:focus .more-details {
  opacity: 1;
}

.theme-id-container {
  position: relative;
  border: 1px solid #888888;
  width: calc(100% + 2px);
  left: -1px;
}

.add-theme-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.rtl .theme-browser .theme.add-new-theme span:after {
  text-indent: 4px;
}

.theme-overlay .theme-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10001;
}

.theme-overlay .theme-header {
  height: 3rem;
  border-bottom: 1px solid #cccccc;
}

.theme-overlay .theme-header button {
  height: 3rem;
  width: 3rem;
  padding: 0;
}

.theme-overlay .theme-header button:before {
  display: inline-block;
  font-family: dashicons;
  font-size: 2rem;
  font-weight: 400;
}

.theme-overlay .theme-header button.theme-next, .theme-overlay .theme-header button.theme-prev {
  float: left;
  text-align: center;
  border: 0;
  border-right: 1px solid #cccccc;
}

.theme-overlay .theme-header button.theme-prev:before {
  content: '\f341';
}

.theme-overlay .theme-header button.theme-next:before {
  content: '\f345';
}

.theme-overlay .theme-header button.close {
  float: right;
  border: 0;
  border-left: 1px solid #cccccc;
}

.theme-overlay .theme-header button.close:before {
  content: '\f335';
}

.theme-overlay .theme-header button.disabled, .theme-overlay .theme-header button.disabled:hover {
  background: inherit;
  color: #cccccc;
  cursor: inherit;
}

.theme-overlay .theme-about {
  overflow: auto;
  padding: 2rem 2rem 3rem;
}

.theme-overlay .theme-cover-wrap {
  width: 100%;
  text-align: center;
}

.theme-overlay .theme-actions {
  padding: 0 2rem 2rem;
  z-index: 30;
}

.theme-overlay .theme-actions a {
  margin: 0.3em 0.3em 0 0;
}

.theme-overlay .theme-actions a:not(:last-of-type) {
  margin-right: 0.3em;
}

.theme-overlay .theme-actions .active-theme {
  display: none;
}

.theme-overlay .theme-actions .inactive-theme {
  display: block;
}

.theme-overlay .theme-actions .theme-action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-overlay .theme-actions .theme-action-buttons .delete-theme {
  color: #dd0000;
}

.theme-overlay .theme-actions .theme-action-buttons .delete-theme:hover, .theme-overlay .theme-actions .theme-action-buttons .delete-theme:focus {
  background: #dd0000;
  color: #ffffff;
}

.theme-overlay.active .theme-actions .inactive-theme {
  display: none;
}

.theme-overlay.active .theme-actions .active-theme {
  display: block;
}

.theme-overlay .theme-cover-wrap {
  margin-right: 2rem;
  width: 100%;
  min-width: 40%;
  max-width: 37.5em;
  text-align: center;
}

.theme-overlay .cover-image,
.theme-overlay .screenshot {
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.theme-overlay .cover-image :after,
.theme-overlay .screenshot :after {
  content: '';
  display: block;
  padding-top: 75%;
  /* using a 4/3 aspect ratio */
}

.theme-overlay .cover-image img,
.theme-overlay .screenshot img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.theme-overlay .cover-image.thumb,
.theme-overlay .screenshot.thumb {
  background: #cccccc;
  border: 1px solid #888888;
  float: none;
  display: inline-block;
  margin: 10px 5px 0;
  width: 140px;
  height: 80px;
  cursor: pointer;
}

.theme-overlay .cover-image.thumb:after,
.theme-overlay .screenshot.thumb:after {
  content: '';
  display: block;
  padding-top: 100%;
  /* using a 1/1 aspect ratio */
}

.theme-overlay .cover-image.thumb img,
.theme-overlay .screenshot.thumb img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.theme-overlay .cover-image.selected,
.theme-overlay .screenshot.selected {
  background: transparent;
  border: 1px solid #005fd6;
}

.theme-overlay .cover-image.selected img,
.theme-overlay .screenshot.selected img {
  opacity: 0.8;
}

.theme-overlay .theme-wrap {
  position: fixed;
  top: calc(4vw + 32px);
  right: 8vw;
  left: 8vw;
  bottom: 4vw;
  z-index: 10002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.theme-overlay .theme-info {
  padding-bottom: 3rem;
}

.theme-overlay .current-label {
  font-size: 0.8125rem;
  font-weight: 700;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@supports (font-variation-settings: normal) {
  .theme-overlay .current-label {
    font-weight: 600;
  }
}

.theme-overlay .theme-name {
  font-size: 2rem;
  margin-top: 0.5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.theme-overlay .theme-version {
  font-size: 0.8125rem;
  float: none;
  display: inline-block;
  margin-left: 10px;
}

.theme-overlay .theme-author {
  margin: 1em 0 1.5em;
  line-height: inherit;
}

.theme-overlay .theme-author a {
  text-decoration: none;
}

.theme-overlay .theme-description {
  margin-top: 2rem;
}

.theme-overlay .theme-tags {
  border-top: 1px solid #cccccc;
  font-size: 0.875rem;
  margin-top: 2rem;
  padding: 1rem 0;
}

.theme-overlay .theme-tags span {
  font-weight: 600;
  margin-right: 5px;
}

.theme-overlay .parent-theme {
  font-size: 0.875rem;
}

.theme-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customize-support .theme-overlay .theme-actions a[href="themes.php?page=custom-header"],
.customize-support .theme-overlay .theme-actions a[href="themes.php?page=custom-background"] {
  display: none;
}

.broken-themes a.delete-theme {
  color: #dd0000;
}

.broken-themes a.delete-theme:hover,
.broken-themes a.delete-theme:focus {
  background: #dd0000;
  color: #ffffff;
}

.theme-actions h2 {
  display: none;
}

.theme-actions p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.theme-actions .button {
  display: block;
}

.modal-open .theme-actions h2 {
  display: block;
}

.modal-open .theme-actions p {
  margin-top: 0.5em;
}

/* Already installed theme */
.theme-browser .theme .theme-installed {
  background: #004499;
}

.theme-browser .theme .notice-success p:before {
  color: #79ba49;
  content: "\f147";
  display: inline-block;
  font: normal 20px/1 'dashicons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

.theme-browser .theme .theme-cover-image.blank:before,
.theme-browser .theme .theme-screenshot.blank:before,
.theme-overlay .cover-image.blank:before,
.theme-overlay .screenshot.blank:before {
  content: '\f530';
  font-family: dashicons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: #cccccc;
}

.broken-themes {
  clear: both;
}

.broken-themes table {
  text-align: left;
  width: 50%;
  border-spacing: 3px;
  padding: 3px;
}

/*------------------------------------------------------------------------------
  16.2 - Install Themes
------------------------------------------------------------------------------*/
.upload-theme-wrap .upload-theme {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 3em 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 10px;
}

.upload-theme-wrap .upload-theme.upload-theme-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upload-theme-wrap .upload-theme .wp-upload-form {
  margin-top: 2em;
  padding: 2em;
  border: 1px solid #888888;
}

.upload-theme-wrap .upload-theme .install-help {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.no-js .upload-theme-wrap .upload-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-js .theme-browser .theme {
  cursor: default;
}

.no-js .theme-browser .theme:focus .more-details {
  opacity: 0;
}

p.no-themes,
p.no-themes-local {
  clear: both;
  color: #666;
  font-size: 18px;
  font-style: normal;
  margin: 0;
  padding: 100px 0;
  text-align: center;
  display: none;
}

.no-results p.no-themes {
  display: block;
}

/*------------------------------------------------------------------------------
  16.3 - Custom Header Screen
------------------------------------------------------------------------------*/
.appearance_page_custom-header #headimg {
  border: 1px solid #cccccc;
  overflow: hidden;
  width: 100%;
}

.appearance_page_custom-header #upload-form p label {
  font-size: 12px;
}

.appearance_page_custom-header .available-headers .default-header {
  float: left;
  margin: 0 20px 20px 0;
}

.appearance_page_custom-header .random-header {
  clear: both;
  margin: 0 20px 20px 0;
  vertical-align: middle;
}

.appearance_page_custom-header .available-headers label input,
.appearance_page_custom-header .random-header label input {
  margin-right: 10px;
}

.appearance_page_custom-header .available-headers label img {
  vertical-align: middle;
}

/*------------------------------------------------------------------------------
  16.4 - Custom Background Screen
------------------------------------------------------------------------------*/
div#custom-background-image {
  min-height: 100px;
  border: 1px solid #cccccc;
}

div#custom-background-image img {
  max-width: 400px;
  max-height: 300px;
}

.background-position-control input[type="radio"]:checked ~ .button {
  background: #eee;
  border-color: #999;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.background-position-control input[type="radio"]:focus ~ .button {
  border-color: #5b9dd9;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 115, 170, 0.8);
          box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 115, 170, 0.8);
  color: #23282d;
}

.background-position-control .background-position-center-icon,
.background-position-control .background-position-center-icon:before {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: background-color .1s ease-in 0;
  transition: background-color .1s ease-in 0;
}

.background-position-control .background-position-center-icon {
  height: 20px;
  margin-top: 13px;
  vertical-align: top;
  width: 20px;
}

.background-position-control .background-position-center-icon:before {
  background-color: #555;
  border-radius: 50%;
  content: "";
  height: 12px;
  width: 12px;
}

.background-position-control .button:hover .background-position-center-icon:before,
.background-position-control input[type="radio"]:focus ~ .button .background-position-center-icon:before {
  background-color: #23282d;
}

.background-position-control .button-group {
  display: block;
}

.background-position-control .button-group .button {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  /* Following properties are overridden by buttons responsive styles (see: wp-includes/css/buttons.css). */
  height: 40px !important;
  line-height: 37px !important;
  margin: 0 -1px 0 0 !important;
  padding: 0 10px 1px !important;
  position: relative;
}

.background-position-control .button-group .button:active,
.background-position-control .button-group .button:hover,
.background-position-control .button-group .button:focus {
  z-index: 1;
}

.background-position-control .button-group:last-child .button {
  -webkit-box-shadow: 0 1px 0 #ccc;
          box-shadow: 0 1px 0 #ccc;
}

.background-position-control .button-group > label {
  margin: 0 !important;
}

.background-position-control .button-group:first-child > label:first-child .button {
  border-radius: 3px 0 0;
}

.background-position-control .button-group:first-child > label:first-child .dashicons {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.background-position-control .button-group:first-child > label:last-child .button {
  border-radius: 0 3px 0 0;
}

.background-position-control .button-group:first-child > label:last-child .dashicons {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.background-position-control .button-group:last-child > label:first-child .button {
  border-radius: 0 0 0 3px;
}

.background-position-control .button-group:last-child > label:first-child .dashicons {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.background-position-control .button-group:last-child > label:last-child .button {
  border-radius: 0 0 3px 0;
}

.background-position-control .button-group:last-child > label:last-child .dashicons {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.background-position-control .button-group .dashicons {
  margin-top: 9px;
}

.background-position-control .button-group + .button-group {
  margin-top: -1px;
}

/*------------------------------------------------------------------------------
  23.0 - Full Overlay w/ Sidebar
------------------------------------------------------------------------------*/
body.full-overlay-active {
  overflow: hidden;
  /* Hide all the content, the Customizer overlay is then made visible to be the only available content. */
  visibility: hidden;
}

.wp-full-overlay {
  background: transparent;
  z-index: 500000;
  position: fixed;
  overflow: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-width: 0;
}

.wp-full-overlay-sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  min-width: 300px;
  max-width: 600px;
  width: 18%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 10;
  background: #ffffff;
  border-right: none;
}

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  overflow: visible;
}

.wp-full-overlay.collapsed,
.wp-full-overlay.expanded .wp-full-overlay-sidebar {
  margin-left: 0 !important;
}

.wp-full-overlay.expanded {
  margin-left: 300px;
}

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-left: -300px;
}

@media screen and (min-width: 1667px) {
  .wp-full-overlay.expanded {
    margin-left: 18%;
  }
  .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -18%;
  }
}

@media screen and (min-width: 3333px) {
  .wp-full-overlay.expanded {
    margin-left: 600px;
  }
  .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -600px;
  }
}

.wp-full-overlay-sidebar:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  z-index: 1000;
}

.wp-full-overlay-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.wp-full-overlay-sidebar .wp-full-overlay-header {
  position: absolute;
  left: 0;
  right: 0;
  height: 45px;
  padding: 0 1rem;
  line-height: 45px;
  z-index: 10;
  margin: 0;
  border-top: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-full-overlay-sidebar .wp-full-overlay-header a.back {
  margin-top: 9px;
}

.wp-full-overlay-sidebar .wp-full-overlay-footer {
  bottom: 0;
  border-bottom: none;
  border-top: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
  position: absolute;
  top: 45px;
  bottom: 45px;
  left: 0;
  right: 0;
  overflow: auto;
}

/* Close & Navigation Links */
.theme-install-overlay .wp-full-overlay-sidebar .wp-full-overlay-header {
  padding: 0;
}

.theme-install-overlay .close-full-overlay,
.theme-install-overlay .previous-theme,
.theme-install-overlay .next-theme {
  display: block;
  position: relative;
  float: left;
  width: 45px;
  height: 45px;
  padding-right: 2px;
  background: #eee;
  border-right: 1px solid #cccccc;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
  transition: color .1s ease-in-out, background .1s ease-in-out;
}

.theme-install-overlay .close-full-overlay:hover,
.theme-install-overlay .close-full-overlay:focus,
.theme-install-overlay .previous-theme:hover,
.theme-install-overlay .previous-theme:focus,
.theme-install-overlay .next-theme:hover,
.theme-install-overlay .next-theme:focus {
  background: #ffee00;
  border-color: #cccccc;
  color: #000;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme-install-overlay .close-full-overlay:before {
  font: normal 22px/1 dashicons;
  content: "\f335";
  position: relative;
  top: 7px;
  left: 13px;
}

.theme-install-overlay .previous-theme:before {
  font: normal 20px/1 dashicons;
  content: "\f341";
  position: relative;
  top: 6px;
  left: 14px;
}

.theme-install-overlay .next-theme:before {
  font: normal 20px/1 dashicons;
  content: "\f345";
  position: relative;
  top: 6px;
  left: 13px;
}

.theme-install-overlay .previous-theme.disabled,
.theme-install-overlay .next-theme.disabled,
.theme-install-overlay .previous-theme.disabled:hover,
.theme-install-overlay .previous-theme.disabled:focus,
.theme-install-overlay .next-theme.disabled:hover,
.theme-install-overlay .next-theme.disabled:focus {
  color: #b4b9be;
  background: #eee;
  cursor: default;
  pointer-events: none;
}

.theme-install-overlay .close-full-overlay,
.theme-install-overlay .previous-theme,
.theme-install-overlay .next-theme {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}

.theme-install-overlay .close-full-overlay:before,
.theme-install-overlay .previous-theme:before,
.theme-install-overlay .next-theme:before {
  top: 2px;
  left: 0;
}

/* Collapse Button */
.app-core-ui .wp-full-overlay .collapse-sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 9px 0 9px 10px;
  height: 45px;
  outline: 0;
  line-height: 1;
  background-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0 !important;
}

.wp-full-overlay .collapse-sidebar:hover,
.wp-full-overlay .collapse-sidebar:focus {
  color: #004499;
}

.wp-full-overlay .collapse-sidebar-arrow,
.wp-full-overlay .collapse-sidebar-label {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

.wp-full-overlay .collapse-sidebar-arrow {
  width: 20px;
  height: 20px;
  margin: 0 2px;
  /* avoid the focus box-shadow to be cut-off */
  border-radius: 50%;
  overflow: hidden;
}

.wp-full-overlay .collapse-sidebar-label {
  margin-left: 3px;
}

.wp-full-overlay.collapsed .collapse-sidebar-label {
  display: none;
}

.wp-full-overlay .collapse-sidebar-arrow:before {
  display: block;
  content: "\f148";
  font: normal 20px/1 dashicons;
  speak: none;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-core-ui .wp-full-overlay.collapsed .collapse-sidebar {
  padding: 9px 10px;
}

/* rtl:ignore */
.wp-full-overlay.collapsed .collapse-sidebar-arrow:before,
.rtl .wp-full-overlay .collapse-sidebar-arrow:before {
  -webkit-transform: rotate(180.001deg);
          transform: rotate(180.001deg);
  /* Firefox: promoting to its own layer to trigger anti-aliasing  */
}

.rtl .wp-full-overlay.collapsed .collapse-sidebar-arrow:before {
  -webkit-transform: none;
          transform: none;
}

/* Animations */
.wp-full-overlay,
.wp-full-overlay-sidebar,
.wp-full-overlay .collapse-sidebar,
.wp-full-overlay-main {
  -webkit-transition-property: left, right, top, bottom, width, margin;
  transition-property: left, right, top, bottom, width, margin;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

/* Device/preview size toggles */
.wp-full-overlay {
  background: #000000;
}

.wp-full-overlay-main {
  background-color: #ffffff;
}

.expanded .wp-full-overlay-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 299px;
  max-width: 599px;
  width: 18%;
  width: calc( 18% - 1px);
  height: 45px;
  border-top: 1px solid #cccccc;
}

.wp-full-overlay-footer .devices-wrapper {
  float: right;
}

.wp-full-overlay-footer .devices {
  position: relative;
}

.wp-full-overlay-footer .devices button {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 45px;
  padding: 0 3px;
  margin: 0 0 0 -4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid transparent;
  border-bottom: 4px solid transparent;
  -webkit-transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
  transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
}

.wp-full-overlay-footer .devices button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.wp-full-overlay-footer .devices button:before {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 20px/30px "dashicons";
  vertical-align: top;
  margin: 3px 0;
  padding: 4px 8px;
  color: #222222;
}

.wp-full-overlay-footer .devices button.active:before {
  color: #004499;
}

.wp-full-overlay-footer .devices button:focus,
.wp-full-overlay-footer .devices button.active:hover,
.wp-full-overlay-footer .devices button:hover:before,
.wp-full-overlay-footer .devices button:focus:before {
  color: #005fd6;
}

.wp-full-overlay-footer .devices .preview-desktop:before {
  content: "\f472";
}

.wp-full-overlay-footer .devices .preview-tablet:before {
  content: "\f471";
}

.wp-full-overlay-footer .devices .preview-mobile:before {
  content: "\f470";
}

@media screen and (max-width: 1024px) {
  .wp-full-overlay-footer .devices {
    display: none;
  }
}

.collapsed .wp-full-overlay-footer .devices button:before {
  display: none;
}

.preview-mobile .wp-full-overlay-main {
  margin: auto 0 auto -160px;
  width: 320px;
  height: 480px;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
}

.preview-tablet .wp-full-overlay-main {
  margin: auto 0 auto -360px;
  width: 720px;
  /* Size is loosely based on a typical "tablet" device size. Intentionally ambiguous - this does not represent any particular device precisely. */
  height: 1080px;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
}

/*------------------------------------------------------------------------------
  24.0 - Customize Loader
------------------------------------------------------------------------------*/
.no-customize-support .hide-if-no-customize,
.customize-support .hide-if-customize,
.no-customize-support.app-core-ui .hide-if-no-customize,
.no-customize-support .app-core-ui .hide-if-no-customize,
.customize-support.app-core-ui .hide-if-customize,
.customize-support .app-core-ui .hide-if-customize {
  display: none;
}

#customize-container,
#customize-controls .notice.notification-overlay {
  background: #eee;
  z-index: 500000;
  position: fixed;
  overflow: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

#customize-container {
  display: none;
}

/* Make the Customizer and Theme installer overlays the only available content. */
#customize-container,
.theme-install-overlay {
  visibility: visible;
}

.customize-loading #customize-container iframe {
  opacity: 0;
}

#customize-container iframe,
.theme-install-overlay iframe {
  height: 100%;
  width: 100%;
  z-index: 20;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#customize-controls {
  margin-top: 0;
}

.theme-install-overlay {
  display: none;
}

.theme-install-overlay.single-theme {
  display: block;
}

.install-theme-info {
  display: none;
  padding: 10px 20px 60px;
}

.single-theme .install-theme-info {
  padding-top: 1rem;
}

.theme-install-overlay .install-theme-info {
  display: block;
}

.install-theme-info .theme-install {
  float: right;
  margin-top: 18px;
}

.install-theme-info .theme-name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.install-theme-info .theme-cover-image {
  margin: 15px 0;
  width: 258px;
  border: 1px solid #cccccc;
}

.install-theme-info .theme-details {
  overflow: hidden;
}

.theme-details .theme-version {
  margin: 15px 0;
}

.theme-details .theme-description {
  float: left;
  color: #72777c;
  line-height: 20px;
  max-width: 100%;
}

.theme-install-overlay .wp-full-overlay-header .button {
  float: right;
  margin: 8px 10px 0 0;
  /* For when .theme-install is a span rather than a.button-primary (already installed theme) */
  line-height: 26px;
}

.theme-install-overlay .wp-full-overlay-sidebar {
  background: #eee;
  border-right: 1px solid #cccccc;
}

.theme-install-overlay .wp-full-overlay-sidebar-content {
  background: #ffffff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.theme-install-overlay .wp-full-overlay-main {
  position: absolute;
  z-index: 0;
  background-color: #f1f1f1;
}

.customize-loading #customize-container {
  background-color: #f1f1f1;
}

#customize-preview.wp-full-overlay-main:before,
.customize-loading #customize-container:before,
#customize-controls .notice.notification-overlay.notification-loading:before,
.theme-install-overlay .wp-full-overlay-main:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -10px 0 0 -10px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: transparent url(../images/spinner.gif) no-repeat center center;
  background-size: 20px 20px;
}

#customize-preview.wp-full-overlay-main.iframe-ready:before,
.theme-install-overlay.iframe-ready .wp-full-overlay-main:before {
  background-image: none;
}

/* =Media Queries
-------------------------------------------------------------- */
/**
 * HiDPI Displays
 */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .wp-full-overlay .collapse-sidebar-arrow {
    background-image: url(../images/arrows-2x.png);
    background-size: 15px 123px;
  }
  #customize-preview.wp-full-overlay-main:before,
  .customize-loading #customize-container:before,
  #customize-controls .notice.notification-overlay.notification-loading:before,
  .theme-install-overlay .wp-full-overlay-main:before {
    background-image: url(../images/spinner-2x.gif);
  }
}

@media screen and (min-width: 1600px) {
  .theme-browser .themes:not(.single-theme) {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 782px) {
  .theme-overlay .theme-wrap {
    top: calc(4vw + 46px);
  }
  .theme-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .theme-info {
    margin-top: 1em;
  }
  .broken-themes table {
    width: 100%;
  }
  .theme-install-overlay .wp-full-overlay-header .theme-install {
    margin-top: 0.5em;
    line-height: normal;
  }
  .theme-browser .theme .theme-actions .button {
    margin-bottom: 0;
  }
  .theme-browser .theme.active .theme-actions,
  .theme-browser .theme .theme-actions {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

@media aural {
  .theme .notice:before,
  .theme-info .updating-message:before,
  .theme-info .updated-message:before,
  .theme-install.updating-message:before {
    speak: none;
  }
}
