///
/// General app color variables
///
/// These styles are primarily used in administration pages,
/// but also common features such as the user toolbar. For this
/// reason the file is not kept in the css/admin directory.

// Color name variables.
$white: #ffffff;
$off_white: #eeeeee !default;
$pale_gray: #cccccc !default;
$light_gray: #888888 !default;
$medium_gray: #555555 !default;
$dark_gray: #333333 !default;
$near_black: #121212 !default;
$black: #000000;
$app_green: #44aa11 !default;
$app_yellow: #ffee00 !default;
$app_orange: #ee6600 !default;
$app_red: #dd0000 !default;