/**
 * SASS/SCSS color variables
 *
 * Assign default value to all undefined variables,
 * pure white and pure black excepted.
 *
 * @link https://sass-lang.com/documentation/variables
 */

// Color name variables.
$white: #ffffff;
$off_white: #eeeeee;
$pale_gray: #cccccc;
$light_gray: #888888;
$medium_gray: #555555;
$dark_gray: #333333;
$near_black: #121212;
$black: #000000;
$app_green: #44aa11;
$app_yellow: #ffbb00;
$app_orange: #ee6600;
$app_red: #dd0000;

// Global app admin variables.
$body_background: #f1f1f1;
$text_color: #444444;
$link_color: #0073aa;
$link_action_color: lighten( $link_color, 10% );

$app_highlight_color: #0073aa;
$notify_color: $app_orange;
$error_color: $app_red;
$warning_color: $app_yellow;
$success_color: $app_green;

// Admin menu & admin-bar.
$menu_base_color: #23282d;
$menu_text_color: #eee;
$menu_icon_color: hsl( hue( $menu_base_color ), 7%, 95% );
$button_color: $app_highlight_color;
$form_checked: $app_highlight_color;

$menu-text: $menu_text_color;
$menu_icon: $menu_icon_color;
$menu_background: $menu_base_color;

$menu_highlight_text: $menu_text_color;
$menu_highlight_icon: $menu_text_color;
$menu_highlight_background: $app_highlight_color;

$menu_current_text: $menu_highlight_text;
$menu_current_icon: $menu_highlight_icon;
$menu_current_background: $menu_highlight_background;

$menu_submenu_text: mix( $menu_base_color, $menu_text_color, 30% );
$menu_submenu_background: #32373c;
$menu_submenu_background_alt: desaturate( lighten( $menu_background, 7% ), 7% );

$menu_submenu_focus_text: $app_highlight_color;
$menu_submenu_current_text: $menu_text_color;

$menu_bubble_text: $menu_text_color;
$menu_bubble_background: $notify_color;
$menu_bubble_current_text: $menu_text_color;
$menu_bubble_current_background: $menu_submenu_background;

$menu_collapse_text: $menu_icon;
$menu_collapse_icon: $menu_icon;
$menu_collapse_focus_text: $menu_text_color;
$menu_collapse_focus_icon: $menu_highlight_icon;

$adminbar_avatar_frame: lighten( $menu_background, 7% );
$adminbar_input_background: lighten( $menu_background, 7% );

$menu_customizer_text: mix( $menu_base_color, $menu_text_color, 40% );
