/**
 * SASS/SCSS color variables
 *
 * Assign default value to all undefined variables,
 * pure white and pure black excepted.
 *
 * @link https://sass-lang.com/documentation/variables
 */

// Color name variables.
$white: #ffffff;
$off_white: #eeeeee;
$pale_gray: #cccccc;
$light_gray: #888888;
$medium_gray: #555555;
$dark_gray: #333333;
$near_black: #121212;
$black: #000000;
$app_green: #44aa11;
$app_yellow: #ffbb00;
$app_orange: #ee6600;
$app_red: #dd0000;

// Global app admin variables.
$body_background: #f1f1f1;
$text_color: #444444;
$link_color: #0073aa;
$link_action_color: lighten( $link_color, 10% );

$highlight_color: #0073aa;
$notify_color: $app_orange;
$error_color: $app_red;
$warning_color: $app_yellow;
$success_color: $app_green;

// Admin menu & admin-bar.
$menu_base_color: #23282d;
$menu_text_color: #eee;
$menu_icon_color: hsl( hue( $menu_base_color ), 7%, 95% );
$button-color: $highlight_color;
$form_checked: $highlight_color;

$menu-text: $menu_text_color;
$menu-icon: $menu_icon_color;
$menu-background: $menu_base_color;

$menu-highlight-text: $menu_text_color;
$menu-highlight-icon: $menu_text_color;
$menu-highlight-background: $highlight_color;

$menu-current-text: $menu-highlight-text;
$menu-current-icon: $menu-highlight-icon;
$menu-current-background: $menu-highlight-background;

$menu-submenu-text: mix( $menu_base_color, $menu_text_color, 30% );
$menu-submenu-background: #32373c;
$menu-submenu-background-alt: desaturate( lighten( $menu-background, 7% ), 7% );

$menu-submenu-focus-text: $highlight_color;
$menu-submenu-current-text: $menu_text_color;

$menu-bubble-text: $menu_text_color;
$menu-bubble-background: $notify_color;
$menu-bubble-current-text: $menu_text_color;
$menu-bubble-current-background: $menu-submenu-background;

$menu-collapse-text: $menu-icon;
$menu-collapse-icon: $menu-icon;
$menu-collapse-focus-text: $menu_text_color;
$menu-collapse-focus-icon: $menu-highlight-icon;

$adminbar-avatar-frame: lighten( $menu-background, 7% );
$adminbar-input-background: lighten( $menu-background, 7% );

$menu-customizer-text: mix( $menu_base_color, $menu_text_color, 40% );
