/**
 * General app typography
 *
 * These styles are primarily used in administration pages,
 * but also common features such as the user toolbar. For this
 * reason the file is not kept in the css/admin directory.
 */

@import '_vars-typography.scss';
@import '_vars-color.scss';

body {
	font-family: $sans;
	font-size: $px16;
	line-height: 1.4em;
	color: $text_color;

	@supports( font-variation-settings: normal ) {
		font-family: $inter;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
}

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 2.325em;
	line-height: 1.4em;

	@supports ( font-variation-settings: normal ) {
		font-weight: 750;
		letter-spacing: -0.02em;
	}
}

h2,
h3 {
	font-size: 1.3em;
}
