/**
 * Styles for administration screens
 */
@import '_reset.scss';
@import 'colors/_variables.scss';
@import '_typography.scss';

html {
	// font-size: 62.5%;
}

body {
	min-width: 37.5em;
	font-family: $sans;
	font-size: $px16;
	line-height: 1.4em;
	color: $text;

	@supports( font-variation-settings: normal ) {
		font-family: $inter;
	}

	&.iframe {
		min-width: 0;
		padding-top: 1px;
	}

	&.modal-open {
		overflow: hidden;
	}

	&.mobile.modal-open {
		#wpwrap {
			overflow: hidden;
			position: fixed;
			height: 100%;
		}
	}
}

/**
 * Admin page layout
 */
.wrap {
	padding: 0 2rem;
}

/**
 * Admin page header
 */
.site-header {

	&.backend-site-header {
		padding: 2rem 30px 0;

		.site-title {
			margin: 0;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 1.2;

			@supports ( font-variation-settings: normal ) {
				font-weight: 650;
				letter-spacing: -0.015em;
			}
		}

		.site-description {
			margin: 0;
			font-size: 1rem;
			line-height: 1.2;
		}
	}
}