@import '../../includes/modules/_typography';
@import '../../includes/modules/_colors';

/**
 * Advanced Custom Fields
 *
 * Overrides the plugin styles which are intended to jive with
 * brand-name management systems.
 */
.app-admin {

	.acf-admin-navigation {
		padding: 1em 2rem;
		background-color: $body_background !important;
		border-color: $box_border_color !important;

		h2,
		.acf-tab {
			padding: 0 !important;
			font-size: $px14 !important;
			line-height: 1 !important;
		}

		h2 {
			margin-left: 1rem !important;
			i {
				display: none;
			}
		}

		.acf-tab {
			margin: 0 0.5em !important;
			color: $link_color !important;

			&:hover,
			&:focus {
				color: $link_action_color !important;
			}

			&.is-active {
				padding: 0 !important;
				border: none !important;
				font-weight: 700;

				&:hover,
				&:focus {
					cursor: default;
					color: $link_color !important;
				}
			}
		}
	}

	.acf-field-object,
	.acf-field-object.open > .handle {
		background-color: inherit !important;
		border-color: $box_border_color !important;
		color: inherit !important;
	}

	.acf-field-object.open > .handle {
		text-shadow: none !important;

		a {
			color: $link_color !important;

			&:hover,
			&:focus {
				color: $link_action_color !important;
				text-decoration: none !important;
			}

			&.button {
				color: $button_text_color !important;

				&:hover,
				&:focus {
					color: $button_action_text_color !important;
					text-decoration: none !important;
				}
			}

			&.delete-field {
				color: $app_red !important;

				&:hover,
				&:focus {
					$app_red: !important;
				}
			}
		}
	}

	.acf-thead {
		color: inherit !important;
	}

	.acf-input-prepend,
	.acf-input-append {
		height: 2.5rem !important;
		padding: 0 1rem !important;
		background: none !important;
		border-radius: 0px !important;
		font-size: $px14 !important;
		line-height: 2.5rem !important;
	}

	.acf-box,
	.acf-meta-box-wrap .acf-fields {
		background-color: $box_background_color !important;
		border-color: $box_border_color !important;
	}

	.acf-box .title,
	.acf-box .footer {
		border-color: $box_border_color !important;
	}
}

.media-modal .acf-expand-details {
	float: left !important;
	padding: 0.5em 1em !important;
	margin-left: 0.25em !important;
	height: unset !important;
	line-height: unset !important;
	color: unset !important;
	font-size: unset !important;
}