///
/// Deprecated styles
///
/// The following style rules are not in use by
/// this website management system but may be
/// referenced by plugins and themes.
///
/// These styles may have been modified since being
/// deprecated to be consistent with styles in use,
/// and may not be what plugin & theme authors were
/// expecting the styles were applied.


// Import general app variables from app-assets/includes.
@import '../../includes/modules/_typography';
@import '../../includes/modules/_colors';


/// Page title actions
///
/// This is typically used for an "Add New" button
/// following a page title on list view screens.
///
/// Styles applied here are the same or similar to
/// global button styles.
.page-title-action {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0.75rem 1rem;
	background: $button_background_color;
	border: solid 1px $button_border_color;
	font-size: $px14;
	font-weight: bold;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	color: $button_text_color;
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
	transition: all .1s linear;

	&.hover,
	&:hover,
	&.focus,
	&:focus,
	&.active,
	&:active,
	&.current {
		background: $button_action_background_color;
		color: $button_action_text_color;
		color-adjust: exact !important;
	}

	&[disabled],
	&:disabled,
	&.disabled,
	&.button-disabled {
		background: $button_disabled_background_color;
		color: $button_disabled_text_color;
		cursor: default;
	}
}

/// List table views
///
/// This is typically used for links to switch between
/// post type statuses on list view screens.
///
/// Styles applied here are the same or similar to
/// global button styles.
.list-table-views {

	li {
		margin: 0;

		&:not( :last-of-type ) {
			margin-left: 0.25em;
		}

		a {
			&:not( .button ) {
				display: inline-block;
				vertical-align: baseline;
				margin: 0;
				padding: 0.75rem 1rem;
				background: $button_background_color;
				border: solid 1px $button_border_color;
				font-size: $px14;
				font-weight: bold;
				font-weight: 700;
				line-height: 1;
				text-decoration: none;
				color: $button_text_color;
				white-space: nowrap;
				cursor: pointer;
				-webkit-appearance: none;
				transition: all .1s linear;

				&.hover,
				&:hover,
				&.focus,
				&:focus,
				&.active,
				&:active,
				&.current {
					background: $button_action_background_color;
					color: $button_action_text_color;
					color-adjust: exact !important;
				}

				&[disabled],
				&:disabled,
				&.disabled,
				&.button-disabled {
					background: $button_disabled_background_color;
					color: $button_disabled_text_color;
					cursor: default;
				}
			}
		}
	}
}