/**
 * Styles for administration screen layout
 */

 @import '../modules/_common';

body {
	height: 100%;

	&.iframe {
		min-width: 0;
		padding-top: 1px;
	}

	&.modal-open {
		overflow: hidden;
	}

	&.mobile.modal-open {
		.admin-page-wrap {
			overflow: hidden;
			position: fixed;
			height: 100%;
		}
	}
}

.hidden,
.js .closed .inside,
.js .hide-if-js,
.no-js .hide-if-no-js,
.js.app-core-ui .hide-if-js,
.js .app-core-ui .hide-if-js,
.no-js.app-core-ui .hide-if-no-js,
.no-js .app-core-ui .hide-if-no-js {
	display: none;
}

/* 2 column liquid layout */
.admin-page-wrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
}

.admin-page-content {
	position: relative;
	height: 100%;
	min-height: 100vh;
}

.admin-page-content,
#wpfooter {
	margin-left: 160px;
}

.folded .admin-page-content,
.folded #wpfooter {
	margin-left: 36px;
}

.app-content {
	padding-bottom: 4rem;
	width: 100%;
	overflow: visible !important;
}

.wrap {
	padding: 0 2rem;
}

/**
 * Admin page header
 */
.site-header {

	&.backend-site-header {
		padding: 2rem 30px 0;

		.site-title {
			margin: 0;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 1.2;

			@supports ( font-variation-settings: normal ) {
				font-weight: 650;
			}
		}

		.site-description {
			margin: 0;
			font-size: 1rem;
			line-height: 1.2;
		}
	}
}

.list-table-form,
#addtag,
#posts-filter,
#your-profile {
	overflow: hidden;
}
