/**
 * Network screen styles
 */

// Import general app variables from app-assets/includes.
@import '../../includes/modules/_typography';
@import '../../includes/modules/_colors';

// This is a <pre> element.
.network-add-code {
	margin-top: 1em;
	padding: 1em;
	background-color: darken( $body_background, 6.25% );
	border: solid $box_border_width $box_border_color;
}

.network-site-settings-nav {
	margin-top: 1em;
	list-style: none;

	li {
		display: inline-block;

		&:not( :last-of-type ) {
			margin-left: 0.25em;
		}
	}
}