/**
 * General app typography
 *
 * These styles are primarily used in administration pages.
 */

// Import general app variables.
@import '../../includes/modules/_typography';
@import '../../includes/modules/_colors';

body {
	font-family: $sans;
	font-size: $px16;
	line-height: 1.4em;
	color: $text_color;

	@supports( font-variation-settings: normal ) {
		font-family: $inter;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	background-color: inherit;
}

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 2.325em;
	line-height: 1.4em;

	@supports ( font-variation-settings: normal ) {
		font-weight: 750;
		letter-spacing: -0.02em;
	}
}

h2,
h3 {
	font-size: 1.3em;
}

em {
	font-style: italic;
}

/**
 * Main content area of the admin
 */
.app-content {

	p {
		margin-top: 1em;
	}

	a {
		transition: all .15s;
	}
}

/**
 * Content lists
 *
 * The are lists that are used to present text
 * rather that for navigation and inline elements.
 */
ul,
ol {
	&.content-list {
		margin-top: 1em;

		li {
			display: block;
			margin-top: 0.35em;
		}
	}
}

ul {
	&.content-list {
		list-style: none;
	}
}

q,
cite {
	font-style: italic;
}

// De-italicize address.
address {
	font-style: normal;
}

abbr[title],
abbr[data-original-title],
dfn[title] {
	border-bottom: 1px dotted;
}

pre,
code,
kbd,
samp {
	font-family: $monospace;

	@supports( font-variation-settings: normal ) {
		font-family: $league_mono;

		// Keep scale with Inter.
		font-size: 0.925em;
	}
}
