/**
 * General
 */
@import 'partials/_typography';
@import 'modules/_colors';

body {
	direction: rtl;
	unicode-bidi: embed;
}

.entry-content ul,
.widget-area ul,
.entry-content ol,
.widget-area ol {
	padding: 0 1em 0 0;
}

/**
 * Images
 */
.alignleft {
	float: right;
}

img.alignleft,
figure.alignleft {
	margin: 1em 0 0 1em;
}

.alignright {
	float: left;
}

img.alignright,
figure.alignright {
	margin: 1em 1em 0 0;
}

.entry-content p {

	img.alignleft {
		margin: 0 0 1em 1em;
	}

	img.alignright {
		margin: 0 1em 1em 0;
	}
}

/**
 * Forms
 */
.search-label {
	margin: 0 0 0 0.3em;
}

form button.search-submit,
button[type="submit"].search-submit {
	border: solid 1px $form_action_border_color;
	border-right: none;
}

/**
 * Navigation
 */
.main-navigation {
	float: right;

	ul {
		padding-right: 0;

		ul {
			float: right;
			left: auto;
			right: -999em;

			ul {
				left: auto;
				right: -999em;
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
				right: 100%;
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			right: auto;
		}
	}
}

/* Small menu. */

@media screen and (min-width: 37.5em) {

	.main-navigation {
		ul {
			li {
				&:not(:last-of-type) {
					margin-right: 0;
					margin-left: 1em;
				}
			}
		}
	}
}

@media screen and (min-width: 48em) {

	.site-content {

		.content-area {
			padding-right: 0;
			padding-left: $px30;
		}

		.widget-area {
			margin-right: 0;
			margin-left: $px30;
		}
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
}

/**
 * Header
 */
.site-identity  {

	.site-icon {
		margin-right: 0;
		margin-left: 1em;
	}
}

.dark-mode {

	form button.search-submit,
	button[type="submit"].search-submit {
		border: solid 1px $form_action_border_color;
		border-right: none;
	}
}

@media ( prefers-color-scheme: dark ) {

	form button.search-submit,
	button[type="submit"].search-submit {
		border: solid 1px $form_action_border_color;
		border-right: none;
	}
}
