/**
 * Sefault dark color scheme
 */

// Import general app variables.
@import '../../../includes/modules/_colors';

// Global app color variables.
$app_primary_color: $app_yellow;
$app_secondary_color: #222222;
$app_tertiary_color: #3ad4fb;
$app_highlight_color: $app_yellow;

$body_background: #222;
$text_color: $white;
$box_background_color: lighten( $color: $app_secondary_color, $amount: 2.5% );
$box_border_color: lighten( $color: $app_secondary_color, $amount: 12% );
$box_text_color: inherit !default;
$link_color: $app_tertiary_color;
$link_action_color: lighten( $link_color, 25% );

$notify_color: $app_orange;
$error_color: $app_red;
$warning_color: $app_yellow;
$success_color: $app_green;

// Form color variables.
$form_background_color: lighten( $color: $app_secondary_color, $amount: 5% );
$form_border_color: lighten( $color: $app_secondary_color, $amount: 25% );
$form_text_color: $text_color;
$form_action_background_color: $form_background_color;
$form_action_border_color: $link_action_color;
$form_action_text_color: $text_color;

$form_focus: $link_action_color;
$form_checked: $link_action_color;

// Button color variables.
$button_background_color: $app_tertiary_color;
$button_border_color: lighten( $color: $app_secondary_color, $amount: 5% );
$button_text_color: $black;
$button_action_background_color: $app_highlight_color;
$button_action_border_color: $button_border_color;
$button_action_text_color: $button_text_color;

// Admin menu & admin-bar color variables.
$menu_base_color: $app_secondary_color;
$menu_text_color: $text_color;
$menu_icon_color: darken( $menu_text_color, 25% );
$button_color: $app_highlight_color;

$menu_icon: $menu_icon_color;
$menu_background: $menu_base_color;

$menu_highlight_text: $menu_text_color;
$menu_highlight_icon: $menu_text_color;
$menu_highlight_background: $app_highlight_color;

$menu_current_text: $menu_highlight_text;
$menu_current_icon: $menu_highlight_icon;
$menu_current_background: $menu_highlight_background;

$menu_submenu_text: mix( $menu_base_color, $menu_text_color, 30% );
$menu_submenu_background: darken( $menu_base_color, 7% );
$menu_submenu_background_alt: desaturate( lighten( $menu_background, 7% ), 7% );

$menu_submenu_focus_text: $app_highlight_color;
$menu_submenu_current_text: $menu_text_color;

$menu_bubble_text: $menu_text_color;
$menu_bubble_background: $notify_color;
$menu_bubble_current_text: $menu_text_color;
$menu_bubble_current_background: $menu_submenu_background;

$menu_collapse_text: $menu_icon;
$menu_collapse_icon: $menu_icon;
$menu_collapse_focus_text: $menu_text_color;
$menu_collapse_focus_icon: $menu_highlight_icon;

$adminbar_avatar_frame: lighten( $menu_background, 7% );
$adminbar_input_background: lighten( $menu_background, 7% );

$menu_customizer_text: mix( $menu_base_color, $menu_text_color, 40% );

body {
	background: $body_background;
	color: $text_color;
}

 a {
	color: $link_color;

	&:hover,
	&:focus {
		color: $link_action_color;
	}
}

.postbox {
	background-color: $box_background_color;
	border-color: $box_border_color;

	.hndle {
		border-color: $box_border_color;
	}
}

.striped > tbody > :nth-child(odd),
ul.striped > :nth-child(odd),
.alternate {
	background-color: lighten( $color: $body_background, $amount: 3% );
}

.activity-block,
#dashboard_activity .subsubsub,
.metabox-holder .postbox-container .empty-container,
#screen-meta,
#contextual-help-back {
	border-color: $box_border_color;
}

.view-switch a {
	&:hover,
	&:focus,
	&:active,
	&.current {
		outline: none;
		box-shadow: none;

		&:before {
			color: $app_tertiary_color
		}
	}
}

/**
 * Forms
 *
 * Overrides default styles compiled from
 * ../../admin/partials/forms.scss
 */
 fieldset {
	background-color: $body_background;
	border-color: $box_border_color;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="radio"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	background-color: $form_background_color;
	border-color: $form_border_color;

	&:focus {
		border-color: $form_action_border_color;
	}
}

input {

	&[type="radio"] {

		&:checked + label:before {
			color: $light_gray;
		}

		&:checked:before {
			background-color: $form_checked;
		}
	}

	&[type="checkbox"] {

		&:checked:before {
			color: $form_checked;
		}
	}

	&:disabled,
	&.disabled {
		background: darken( $color: $form_background_color, $amount: 3.5% );
		color: darken( $color: $form_text_color, $amount: 60% );
	}
}

/**
 * Buttons
 *
 * Overrides default styles compiled from
 * ../../../includes/partials/buttons.scss
 */
.button,
.button-primary,
.button-secondary {
	background: $button_background_color;
	border-color: $button_border_color;
	color: $button_text_color;

	&.hover,
	&:hover,
	&.focus,
	&:focus,
	&.active,
	&:active {
		background: $button_action_background_color;
		color: $button_action_text_color;
	}

	&[disabled],
	&:disabled,
	&.disabled,
	&.button-disabled {
		background: lighten( $color: $body_background, $amount: 10% );
		color: darken( $color: $text_color, $amount: 60% ) ;
	}
}

.button-link {
	color: $link_color;

	&:hover,
	&:focus,
	&:active {
		color: $link_action_color;
	}
}

/**
 * Media
 */
.media-modal,
.media-modal-content,
.media-frame-content {
	background: $body_background;
	border-color: $box_border_color;
}

.app-core-ui .attachment
.media-frame-toolbar .media-toolbar,
.media-sidebar,
.media-menu .separator,
.media-router .active,
.media-router > a.active:last-child,
.media-frame.hide-router .media-frame-title,
.media-selection .button-link,
.attachment-info,
.edit-attachment-frame .attachment-info,
.edit-attachment-frame .attachment-info .details,
.edit-attachment-frame .attachment-info .settings,
.media-modal .imgedit-wrap .imgedit-settings,
.media-modal .imgedit-group,
.upload-php .media-modal-close,
.edit-attachment-frame .edit-media-header .left,
.edit-attachment-frame .edit-media-header .right,
.image-details .column-settings,
.image-details .column-settings h3, /* Back-compat for pre-4.4 */
.image-details .column-settings h2,
.drag-drop #drag-drop-area,
.widget-top,
.menu-item-handle,
.widget-inside,
#menu-settings-column .accordion-container,
#menu-management .menu-edit,
.manage-menus,
table.widefat,
.stuffbox,
p.popular-tags,
.widgets-holder-wrap,
.wp-editor-container,
.popular-tags,
.feature-filter,
.imgedit-group,
.comment-ays {
	border-color: $box_border_color;
}

.edit-attachment-frame .edit-media-header .left.disabled,
.edit-attachment-frame .edit-media-header .right.disabled,
.edit-attachment-frame .edit-media-header .left.disabled:hover,
.edit-attachment-frame .edit-media-header .right.disabled:hover {
	color: darken( $color: $form_text_color, $amount: 60% );
}

/**
 * Themes
 */
.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
	background: $white;
	color: $app_highlight_color;
}

.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
	background: $app_highlight_color;
}

/**
 * Unique styles
 *
 * The styles are unique to the color scheme and do not
 * override any default styles.
 */
fieldset {

	&.scheme-list {
		border: none;
	}
}

.color-palette li {
	border: solid 1px $form_border_color;
}