/**
 * Styles for administration screens
 */
@import '../../app-assets/css/_reset.scss';
@import 'colors/_variables.scss';
@import '../../app-assets/css/_typography.scss';

body {
	color: $text;
	font-family: $sans;
	line-height: 1.4em;
	min-width: 37.5em;

	@supports( font-variation-settings: normal ) {
		font-family: $inter;
	}

	&.iframe {
		min-width: 0;
		padding-top: 1px;
	}

	&.modal-open {
		overflow: hidden;
	}

	&.mobile.modal-open {
		#wpwrap {
			overflow: hidden;
			position: fixed;
			height: 100%;
		}
	}
}