@import url(forms-rtl.css);
@import url(l10n-rtl.css);

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	min-width: 0;
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4em;
}

p {
	line-height: 1.5;
}

.login .message,
.login .success,
.login #login_error {
	margin: 1em 0;
	font-size: 1.2em;
	font-style: italic;
}

.login .success {
	color: #ee0000;
}

.login #login_error {
	color: #44aa00;
}

#loginform p.submit,
.login-action-lostpassword p.submit {
	border: none;
	margin: -10px 0 20px; /* May want to revisit this */
}

.login * {
	margin: 0;
	padding: 0;
}

.login .password-input-wrapper {
    display: table;
}

.login .input.password-input {
    display: table-cell;
    margin: 0;
}

.login .pw-weak {
    margin-bottom: 15px;
}

.login .button.button-secondary {
    display: table-cell;
    border-radius: 0;
    vertical-align: middle;
}

.login form {
	margin-top: 20px;
	margin-right: 0;
	padding: 1em 0 2em;
	font-weight: 400;
	overflow: hidden;
	background: #fff;
}

.login form .forgetmenot {
	font-weight: 400;
	float: right;
	margin-bottom: 0;
}

.login .button-primary {
	float: left;
}

#login form p {
	margin-bottom: 0;
}

#login form p.submit {
	margin: 0;
	padding: 0;
}

.login label {
	color: #72777c;
	font-size: 14px;
}

.login form .forgetmenot label {
	font-size: 12px;
	line-height: 19px;
}

.login h1 {
	font-size: 2rem;

	a {
		color: #444;
		line-height: 1.3em;
		margin: 0 auto 2em;
		padding: 0;
		text-decoration: none;
	}
}

#login {
	width: 320px;
	padding: 8% 0 0;
	margin: auto;
}

.login #nav,
.login #backtoblog {
	font-size: 13px;
}

.login #nav {
	margin: 24px 0 0 0;
}

#backtoblog {
	margin: 16px 0;
}

.login #nav a,
.login #backtoblog a {
	text-decoration: none;
	color: #555d66;
}

.login .privacy-policy-page-link {
	text-align: center;
	width: 100%;
	margin: 5em 0 2em;
}

.login form .input,
.login input[type="text"] {
	font-size: 24px;
	width: 100%;
	padding: 3px;
	margin: 2px 0 16px 6px;
}

.login form .input,
.login input[type="text"],
.login form input[type="checkbox"] {
	background: #fbfbfb;
}

.ie7 .login form .input,
.ie8 .login form .input {
	font-family: sans-serif;
}

.login-action-rp input[type="text"] {
	box-shadow: none;
	margin: 0;
}

.login #pass-strength-result {
	font-weight: 600;
	margin: -1px 0 16px 5px;
	padding: 6px 5px;
	text-align: center;
	width: 100%;
}

body.interim-login {
	height: auto;
}

.interim-login #login {
	padding: 0;
	margin: 5px auto 20px;
}

.interim-login.login h1 a {
	width: auto;
}

.interim-login #login_error,
.interim-login.login .message {
	margin: 1em 0;
}

.interim-login.login form {
	margin: 0;
}

@-ms-viewport {
	width: device-width;
}

@media screen and ( max-height: 550px ) {
	#login {
		padding: 20px 0;
	}
}

@media screen and ( max-width: 782px ) {
	.interim-login input[type=checkbox] {
		height: 16px;
		width: 16px;
	}

	.interim-login input[type=checkbox]:checked:before {
		width: 16px;
		font: normal 21px/1 dashicons;
		margin: -3px -4px 0 0;
	}
}
