.upload-plugin-wrap .upload-plugin {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 3em 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 10px;
}

.upload-plugin-wrap .upload-plugin.upload-plugin-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upload-plugin-wrap .upload-plugin .wp-upload-form {
  border: 1px solid #ccc;
  margin-top: 2em;
  padding: 2em;
  max-width: 480px;
}

.upload-plugin-wrap .upload-plugin .install-help {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

.no-js .upload-plugin-wrap .upload-plugin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plugin-install-tab-upload .upload-plugin {
  display: block;
}
