///
/// Styles for the jQuery tabs library
///
/// Included in this directory as themes may want to
/// access the tabs for frontend display.
///
/// Styles are kept generic for minimal correction when
/// implementing in themes.
///
/// Some additional admin styles may be found at:
/// `..app-assets/css/admin/partials/common$suffix`.
///

// Import general app variables.
@import '../modules/_typography';
@import '../modules/_colors';

/**
 * App tabs library
 *
 * .app-tabs is the container class.
 */
.app-tabs {

	.app-tabs-list {
		list-style: none;
		margin: 2em 0 0;
		padding: 0 0 0 0.5em;
		border-bottom: solid 1px $form_border_color;

		.app-tab {
			display: inline-block;
			position: relative;
			top: 1px;
			margin: 0 0.15em;
			border: solid 1px $form_border_color;
			border-radius: 5px 5px 0px 0px;

			a {
				display: block;
				padding: 0.75em 1em;
				background-color: $white;
				border-radius: 5px 5px 0px 0px;
				font-weight: bold;
				line-height: 1;
				text-decoration: none;
				color: inherit;

				@supports( font-variation-settings: normal ) {
					font-weight: 550;
				}
			}

			&.active {
				border-bottom-color: $white;

				a {
					color: revert;
					cursor: default;
				}
			}
		}
	}

	.app-tab-content {
		display: none;
		position: relative;
		overflow: hidden;
		padding: 2em 1em 1em;

		.app-tab-columns {
			display: flex;

			@media screen and ( max-width: 768px ) {
				flex-direction: column;
			}

			& > div {
				width: auto;

				@media screen and ( max-width: 768px ) {
					width: 100%;
				}

				&:not( :last-of-type ) {
					margin-right: 2rem;
				}
			}

			&.app-tab-columns-two {
				& > div {
					width: 50%;

					@media screen and ( max-width: 768px ) {
						width: 100%;
					}
				}
			}

			&.app-tab-columns-three {
				& > div {
					width: 33.33325%;
					width: calc( 100% / 3 );

					@media screen and ( max-width: 768px ) {
						width: 100%;
					}
				}
			}
		}
	}

	// .app-tabs[data-tab_mouseevent="hover"]
	&[data-tab_mouseevent="hover"] {
		.app-tabs-list {
			.app-tab {
				&.active {

					// Pointer when using hover.
					a {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.rtl {
	.app-tabs {
		.app-tabs-list {
			padding: 0 0.5em 0 0;
		}
	}
}

.no-js {
	.app-tabs {
		.app-tab-content {
			display: block;
		}
	}
}