///
/// Buttons
///
/// Create a button by adding the `.button` class to an element. For backward
/// compatibility, we support several other classes (such as `.button-secondary`),
/// but these will not work with the stackable classes described below.
///
/// Button Styles:
/// To display a primary button style, add the `.button-primary` class to a button.
///
/// Button Sizes:
/// Adjust a button's size by adding the `.button-large` or `.button-small` class.
///
/// Button States:
/// Lock the state of a button by adding the name of the pseudoclass as
/// an actual class (e.g. `.hover` for `:hover`).

// Import general app variables from app-assets/includes.
@import '../modules/_typography';
@import '../modules/_colors';

/**
 * General button styles
 *
 * Button padding of 0.75rem top & bottom plus
 * the 1rem line height is to match the 2.5rem
 * height of submit type inputs.
 */
.button,
.button-primary,
.button-secondary {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	padding: 0.75rem 1rem;
	background: $button_background_color;
	border: solid 1px $button_border_color;
	font-size: $px14;
	font-weight: bold;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	color: $button_text_color;
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
	transition: all .1s linear;

	&.button-small {
		font-size: $px11;
	}

	&.button-large {
		font-size: $px16;
	}

	&.button-hightlight,
	&.button-hero {
		background-color: $app_highlight_color;

		&:hover,
		&:focus {
			background-color: $app_secondary_color;
			border-color: $app_secondary_color;
			color: $white;
		}
	}

	&.button-hero {
		height: auto;
		padding: 1em 2em;
		font-size: $px17;
		line-height: 1.4;
	}

	&:active,
	&:focus {
		outline: none;
	}

	&.hidden {
		display: none;
	}

	&.hover,
	&:hover,
	&.focus,
	&:focus,
	&.active,
	&:active,
	&.current {
		background: $button_action_background_color;
		color: $button_action_text_color;
		color-adjust: exact !important;
	}

	&[disabled],
	&:disabled,
	&.disabled,
	&.button-disabled {
		background: $button_disabled_background_color;
		color: $button_disabled_text_color;
		cursor: default;
	}
}

/**
 * Button links
 *
 * These are button elements that look like links,
 * for semantically correct HTML with the looks
 * of a standard link.
 */
.button-link {
	margin: 0;
	padding: 0;
	box-shadow: none;
	background: none;
	border: none;
	outline: none;
	text-align: left;
	text-decoration: underline;
	color: $link_color;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		color: $link_action_color;
	}
}

.button-link-delete {
	color: $app_red;

	&:hover,
	&:focus {
		color: $app_red;
	}
}

/*
 * Button Groups
 */
.button-group {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 0;
	vertical-align: middle;

	& > .button {
		display: inline-block;
		z-index: 10;

		&.button-primary {
			z-index: 100;
		}

		&:hover {
			z-index: 20;
		}

		&:focus {
			position: relative;
			z-index: 1;
		}
	}
}