// Import general app variables from app-assets/includes.
@import '../modules/_typography.scss';
@import '../modules/_colors.scss';

/* ----------------------------------------------------------------------------

NOTE: If you edit this file, you should make sure that the CSS rules for
buttons in the following files are updated.

* jquery-ui-dialog.css
* editor.css

Buttons
=======================
Create a button by adding the `.button` class to an element. For backward
compatibility, we support several other classes (such as `.button-secondary`),
but these will *not* work with the stackable classes described below.

Button Styles
-------------
To display a primary button style, add the `.button-primary` class to a button.

Button Sizes
------------
Adjust a button's size by adding the `.button-large` or `.button-small` class.

Button States
-------------
Lock the state of a button by adding the name of the pseudoclass as
an actual class (e.g. `.hover` for `:hover`).


TABLE OF CONTENTS:
------------------
 1.0 - Button Layouts
 2.0 - Default Button Style
 3.0 - Primary Button Style
 4.0 - Button Groups
 5.0 - Responsive Button Styles

---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
  1.0 - Button Layouts
---------------------------------------------------------------------------- */

.button,
.button-primary,
.button-secondary {
	display: inline-block;
	margin: 0;
	padding: 0.75em 1em;
	border: none;
	font-size: $px14;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
}

/* Remove the dotted border on :focus and the extra padding in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	padding: 0;
}

.button.button-large,
.button-group.button-large .button {
	line-height: 1.1;
	margin: 0;
}

.button.button-small,
.button-group.button-small .button {
	line-height: 1.1;
	margin: 0;
	font-size: 11px;
}

.button.button-hero,
.button-group.button-hero .button {
	font-size: 14px;
	line-height: 1.1;
	margin: 0;
}

.button:active,
.button:focus {
	outline: none;
}

.button.hidden {
	display: none;
}

/* Style Reset buttons as simple text links */

input[type="reset"],
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus {
	background: none;
	padding: 0 2px 1px;
	width: auto;
}

/* ----------------------------------------------------------------------------
  2.0 - Default Button Style
---------------------------------------------------------------------------- */

.button,
.button-secondary {
	vertical-align: top;
	background: inherit;
	font-weight: bold;
	font-weight: 700;
	color: inherit;
	border: solid 1px $light_gray;
}

p .button {
	vertical-align: baseline;
}

.button.hover,
.button:hover,
.button-secondary:hover,
.button.focus,
.button:focus,
.button-secondary:focus {
	background: $pale_gray;
}

.button.focus,
.button:focus,
.button-secondary:focus {}

.button.active,
.button.active:hover,
.button:active,
.button-secondary:active {
	background: $pale_gray;
}

.button.active:focus {}

.button[disabled],
.button:disabled,
.button.disabled,
.button-secondary[disabled],
.button-secondary:disabled,
.button-secondary.disabled,
.button-disabled {
	color: #a0a5aa !important;
	background: #f7f7f7 !important;
	cursor: default;
	-webkit-transform: none !important;
	transform: none !important;
}

/* Buttons that look like links, for a cross of good semantics with the visual */
.button-link {
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background: none;
	outline: none;
	cursor: pointer;
	text-align: left;
	/* Mimics the default link style in common.css */
	color: $link;
	text-decoration: underline;
}

.button-link:hover,
.button-link:active {
	color: #00a0d2;
}

.button-link:focus {
	color: #124964;
}

.button-link-delete {
	color: #a00;
}

.button-link-delete:hover,
.button-link-delete:focus {
	color: $app_red;
}

.ie8 .button-link:focus {
	outline: #5b9dd9 solid 1px;
}

/* ----------------------------------------------------------------------------
  3.0 - Primary Button Style
---------------------------------------------------------------------------- */

.button-primary {
	text-decoration: none;
}

.button-primary.hover,
.button-primary:hover,
.button-primary.focus,
.button-primary:focus {
	background: $pale_gray;
}

.button-primary.focus,
.button-primary:focus {
}

.button-primary.active,
.button-primary.active:hover,
.button-primary.active:focus,
.button-primary:active {
	background: $light_gray;
	vertical-align: top;
}

.button-primary[disabled],
.button-primary:disabled,
.button-primary-disabled,
.button-primary.disabled {
	color: $light_gray !important;
	background: $pale_gray !important;
	cursor: default;
}

.button.button-primary.button-hero {}

.button.button-primary.button-hero.active,
.button.button-primary.button-hero.active:hover,
.button.button-primary.button-hero.active:focus,
.button.button-primary.button-hero:active {}

/* ----------------------------------------------------------------------------
  4.0 - Button Groups
---------------------------------------------------------------------------- */

.button-group {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 0;
	vertical-align: middle;
}

.button-group > .button {
	display: inline-block;
	margin-right: -1px;
	z-index: 10;
}

.button-group > .button-primary {
	z-index: 100;
}

.button-group > .button:hover {
	z-index: 20;
}

.button-group > .button:first-child {}

.button-group > .button:last-child {}

.button-group > .button:focus {
	position: relative;
	z-index: 1;
}

/* ----------------------------------------------------------------------------
  5.0 - Responsive Button Styles
---------------------------------------------------------------------------- */

@media screen and ( max-width: 782px ) {

	.button,
	.button.button-large,
	.button.button-small,
	input#publish,
	input#save-post,
	a.preview {
		padding: 6px 14px;
		line-height: normal;
		font-size: 14px;
		vertical-align: middle;
		height: auto;
		margin-bottom: 4px;
	}

	#media-upload.button {
		padding: 0 10px 1px;
		height: 24px;
		line-height: 22px;
		font-size: 13px;
	}

	.media-frame.mode-grid .bulk-select .button {
		margin-bottom: 0;
	}

	/* Publish Metabox Options */
	.save-post-status.button {
		position: relative;
		margin: 0 14px 0 10px; /* 14px right margin to match all other buttons */
	}

	/* Reset responsive styles in Press This, Customizer */

	.wp-customizer .button {
		padding: 0 10px 1px;
		font-size: 13px;
		line-height: 26px;
		height: 28px;
		margin: 0;
		vertical-align: inherit;
	}

	.media-modal-content .media-toolbar-primary .media-button {
		margin-top: 10px;
		margin-left: 5px;
	}

	/* Reset responsive styles on Log in button on iframed login form */

	.interim-login .button.button-large {
		height: 30px;
		line-height: 28px;
		padding: 0 12px 2px;
	}

}