@import 'partials/_reset';
@import 'partials/_font-faces';
@import '../admin/partials/_typography';
@import '../admin/partials/_forms';
@import 'partials/_buttons';

body {
	display: flex;
	flex-direction: column;
}

p,
ul,
ol {
	margin-top: 1em;
}

.app-header {
	width: 100%;

	.app-identity {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 2rem;

		.app-logo {
			max-width: 80px;
			margin-right: 1em;

			img {
				display: block;
			}
		}

		.app-title {
			margin: 0;
			line-height: 1.1;
		}

		.app-description {
			margin-top: 0.25em;
			font-size: $px18;
			line-height: 1.2;

			@supports( font-variation-settings: normal ) {
				font-weight: 550;
			}
		}
	}
}

.setup-install-wrap {
	flex: 1 0 auto;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2rem;

	header {
		h2 {
			margin: 0;
		}
	}

	ul,
	ol {
		li {
			font-weight: bold;

			@supports( font-variation-settings: normal ) {
				font-weight: 550;
			}

			span {
				font-size: 0.85em;
				font-weight: normal;
				font-style: italic;
			}
		}
	}
}

.app-footer {
	flex-shrink: 0;
	width: 100%;
	max-width: 1280px;
	margin: 3rem auto 0;
	padding: 2rem;
	font-size: 0.85em;
	font-style: italic;
}

form .description {
	font-size: $px14;
	font-style: italic;
}

ul,
ol,
dl {
	padding-left: 1em;
}

a img {
	border:0
}

/// Navigation icon color functions
///
/// @function step_icon_color Function to encode the hashtag in the
///		variable for icon background image color in the
///     SVG fill attributes.

// Navigation icon fill color.
@function step_icon_color() {
	@return '%23' + str-slice( '#{$button_text_color}', 2, -1 );
}

.step {
	margin-top: 3rem;

	a {

		&:before,
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-size: 0.5em;
		}

		&.next {
			&:after {
				width: 1em;
				height: 0.75em;
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='#{ step_icon_color() }'><path d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/></svg>");
				background-position: 0.5em center;
			}
		}

		&.prev {
			&:before {
				width: 1em;
				height: 0.75em;
				background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='#{ step_icon_color() }'><path d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'/></svg>");
				background-position: 0 center;
			}
		}
	}

	.spinner {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
	}
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;

	&.tabbed-legend {

		// Margin & padding counteract the translate on legend.
		margin-top: 3em;
		padding-top: 0;

		legend {
			padding: 0.5em 1em;
			border: solid 1px $form_border_color;
			border-bottom: none;
			transform: translateY( calc( -50% + 2px ) );
		}

		& > div {
			&:first-of-type {
				p {
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}
	}
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;

	th {
		font-size: $px14;
		text-align: left;
		padding: 0.75em 1.25em 0.75em 0;
		width: 140px;
		vertical-align: middle;

		p {
			font-weight: 400;
		}
	}

	td {
		margin-bottom: 0.5em;
		padding: 0.75em 1.25em 0.75em 0;
		font-size: $px14;
		vertical-align: middle;
	}

	p {
		margin: 0.25em 0 0 0;
		font-size: $px11;
	}

	code {
		line-height: 1em;
		font-size: $px14;
	}

	input[type=text],
	input[type=email],
	input[type=url],
	input[type=password] {
		width: 206px;
	}

	&.install-success {

		th,
		td {
			vertical-align: middle;
			padding: 0.75em 1.25em 0.75em 0;
		}

		td {
			p {
				margin: 0;
				font-size: $px14;
			}

			code {
				margin: 0;
			}
		}
	}
}

#error-page {
	margin-top: 50px;

	p {
		font-size: $px14;
		margin: 2rem 0;
	}
}

.wp-hide-pw > .dashicons {
	position: relative;
	height: 0.5em;
	line-height: 1;
	vertical-align: text-top;
}

#pass-strength-result {
	text-align: center;
	box-sizing: border-box;
	opacity: 0;

	&.short {
		color: $error_color;
		opacity: 1;
	}

	&.bad {
		color: $notify_color;
		opacity: 1;
	}

	&.good {
		color: $warning_color;
		opacity: 1;
	}

	&.strong {
		color: $success_color;
		opacity: 1;
	}
}

#pass1.short,
#pass1-text.short {
	color: $error_color;
}

#pass1.bad,
#pass1-text.bad {
	color: $notify_color;
}

#pass1.good,
#pass1-text.good {
	color: $warning_color;
}

#pass1.strong,
#pass1-text.strong {
	color: $success_color;
}

.password-weak {
	display: none;
}

.message {
	border-left: 4px solid $error_color;
	padding: .7em .6em;
}

// RTL: ignore.
#dbname,
#uname,
#pwd,
#dbhost,
#prefix,
#user_login,
#admin_email,
#pass1,
#pass2 {
	direction: ltr;
}

#pass1-text,
.show-password #pass1 {
	display: none;
}

.show-password #pass1-text {
	display: inline-block;
}

.form-table span.description.important {
	font-size: $px12;
}

.copy-sample-config {
	margin-top: 2rem;
}

.sample-config-code {
	margin-top: 1em;
	padding: 1rem;
	background-color: $off_white;
	border: solid 1px $box_border_color;
	cursor: text;
}

@media screen and ( max-width: 782px ) {

	.form-table {
		margin-top: 0;

		th,
		td {
			display: block;
			width: auto;
		}

		th {
			padding: 1.5em 0 0;
		}

		td {
			margin: 0;
			padding: 0.25em 0;
			border: 0;
		}
	}
}

.language-chooser select {
	display: block;
	width: 100%;
}

.screen-reader-input,
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

/// @todo Replace with animated SVG.
.spinner {
	background: url(../../images/spinner.gif) no-repeat;
	background-size: 20px 20px;
	visibility: hidden;
	opacity: 0.7;
	filter: alpha(opacity=70);
	width: 20px;
	height: 20px;
	margin: 0.25em 0.25em 0;
}

.no-js {
	.button.hide-if-no-js,
	.hide-if-no-js {
		display: none;
	}

	section > h2 {
		margin-top: 2em;
	}
}

::-moz-selection {
	background-color: $app_highlight_color;
	color: $black;
}

::selection {
	background-color: $app_highlight_color;
	color: $black;
}

/**
 * HiDPI Displays
 */
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {

	/// @todo Replace with animated SVG.
	.spinner {
		background-image: url(../../images/spinner-2x.gif);
	}

}
