@import 'partials/_reset';
@import 'partials/_font-faces-variable';
@import 'partials/_font-faces-static';
@import '../admin/partials/_typography';
@import '../admin/partials/_forms';
@import 'partials/_buttons';

body {
	display: flex;
	flex-direction: column;
}

p,
ul,
ol {
	margin-top: 1em;
}

.login-header {
	width: 100%;

	.login-identity {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 2rem;

		.site-icon {
			max-width: 80px;
			margin-right: 1em;

			img {
				display: block;
			}
		}

		.site-title {
			margin: 0;
			font-size: 2.325em;
			font-weight: 700;
			line-height: 1.4em;

			@supports ( font-variation-settings: normal ) {
				font-weight: 750;
				letter-spacing: -0.02em;
			}

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		.site-description {
			margin-top: 0.25em;
			font-size: $px18;
			line-height: 1.2;

			@supports( font-variation-settings: normal ) {
				font-weight: 550;
			}
		}
	}
}

.login-wrap {
	flex: 1 0 auto;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2rem;

	header {
		h2 {
			margin: 0;
		}
	}

	ul,
	ol {
		li {
			font-weight: bold;

			@supports( font-variation-settings: normal ) {
				font-weight: 550;
			}

			span {
				font-size: 0.85em;
				font-weight: normal;
				font-style: italic;
			}
		}
	}
}

.login-footer {
	flex-shrink: 0;
	width: 100%;
	max-width: 1280px;
	margin: 3rem auto 0;
	padding: 2rem;
	font-size: 0.85em;
	font-style: italic;
}

.login .message,
.login .success,
.login #login_error {
	margin: 1em 0;
	font-size: 1.2em;
	font-style: italic;
}

#loginform {
	width: 100%;
	max-width: 480px;
	padding: 0;
}
