/**
 * User toolbar styles
 */
.avatar-wrap {
  display: inline-block;
  border-radius: 50%;
  background-color: #ffee00;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg  fill='%23000000' %20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%20512%20512%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22path3000%22%20d%3D%22M64.538%2C506.904c0%2C-10.978%206.981%2C-44.246%2013.148%2C-62.659c19.893%2C-59.393%2056.945%2C-102.844%20108.628%2C-127.388l16.112%2C-7.652l-7.87%2C-4.749c-23.221%2C-14.015%20-45.516%2C-47.157%20-50.686%2C-75.347c-5.051%2C-27.546%201.128%2C-57.809%2016.851%2C-82.533c37.474%2C-58.925%20120.423%2C-69.696%20172.664%2C-22.421c53.343%2C48.273%2048.055%2C137.468%20-10.507%2C177.2c-5.959%2C4.043%20-10.787%2C7.835%20-10.73%2C8.427c0.058%2C0.591%209.956%2C5.896%2021.995%2C11.789c19.43%2C9.509%2024.453%2C13.256%2044.694%2C33.344c24.278%2C24.095%2036.865%2C42.661%2049.499%2C73.008c8.064%2C19.37%2015.988%2C49.848%2018.083%2C69.556l1.544%2C14.521l-191.712%2C0l-191.713%2C0l0%2C-5.096Z%22%2F%3E%3C%2Fsvg%3E");
}

#app-toolbar {
  font-family: "sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8125rem;
  line-height: 32px;
}

@supports (font-variation-settings: normal) {
  #app-toolbar {
    font-family: "sans var", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 550;
  }
}

#app-toolbar * {
  width: auto;
  height: auto;
  margin: 0;
  position: static;
}

#app-toolbar .ab-empty-item {
  cursor: default;
}

#app-toolbar .ab-empty-item,
#app-toolbar a.ab-item,
#app-toolbar > #wp-toolbar span.ab-label,
#app-toolbar > #wp-toolbar span.noticon {
  color: #eee;
}

#app-toolbar .ab-empty-item:hover, #app-toolbar .ab-empty-item:focus,
#app-toolbar a.ab-item:hover,
#app-toolbar a.ab-item:focus,
#app-toolbar > #wp-toolbar span.ab-label:hover,
#app-toolbar > #wp-toolbar span.ab-label:focus,
#app-toolbar > #wp-toolbar span.noticon:hover,
#app-toolbar > #wp-toolbar span.noticon:focus {
  color: #ffffff;
}

#app-toolbar #wp-admin-bar-site-name a.ab-item,
#app-toolbar #wp-admin-bar-my-sites a.ab-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app-toolbar ul li:before,
#app-toolbar ul li:after {
  content: normal;
}

#app-toolbar a,
#app-toolbar a:hover,
#app-toolbar a img,
#app-toolbar a img:hover {
  outline: none;
  border: none;
  text-decoration: none;
  background: none;
}

#app-toolbar a:focus,
#app-toolbar a:active,
#app-toolbar input[type="text"],
#app-toolbar input[type="password"],
#app-toolbar input[type="number"],
#app-toolbar input[type="search"],
#app-toolbar input[type="email"],
#app-toolbar input[type="url"],
#app-toolbar select,
#app-toolbar textarea,
#app-toolbar div {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#app-toolbar {
  direction: rtl;
  color: #cccccc;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  height: 32px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-width: 600px;
  /* match the min-width of the body in wp-admin.css */
  z-index: 99999;
  background: #222;
}

@supports (font-variation-settings: normal) {
  #app-toolbar {
    font-weight: 550;
  }
}

#app-toolbar .ab-sub-wrapper,
#app-toolbar ul,
#app-toolbar ul li {
  background: none;
  clear: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-indent: 0;
  z-index: 99999;
  line-height: inherit;
}

#app-toolbar ul#wp-admin-bar-root-default > li {
  margin-left: 0;
}

#app-toolbar .quicklinks ul {
  text-align: right;
}

#app-toolbar li {
  float: right;
}

#app-toolbar .ab-empty-item {
  outline: none;
}

#app-toolbar .quicklinks .ab-top-secondary > li {
  float: left;
}

#app-toolbar .quicklinks a,
#app-toolbar .quicklinks .ab-empty-item,
#app-toolbar .shortlink-input {
  height: 32px;
  display: block;
  padding: 0 10px;
  margin: 0;
}

#app-toolbar .quicklinks > ul > li > a {
  padding: 0 7px 0 8px;
}

#app-toolbar .menupop .ab-sub-wrapper,
#app-toolbar .shortlink-input {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background: #333;
  display: none;
  position: absolute;
  float: none;
}

#app-toolbar .ab-top-menu > .menupop > .ab-sub-wrapper {
  min-width: 100%;
}

#app-toolbar .ab-top-secondary .menupop .ab-sub-wrapper {
  left: 0;
  right: auto;
}

#app-toolbar .ab-submenu {
  padding: 6px 0;
}

#app-toolbar .selected .shortlink-input {
  display: block;
}

#app-toolbar .quicklinks .menupop ul li {
  float: none;
}

#app-toolbar .quicklinks .menupop ul li a strong {
  font-weight: 600;
}

#app-toolbar .quicklinks .menupop ul li .ab-item,
#app-toolbar .quicklinks .menupop ul li a strong,
#app-toolbar .quicklinks .menupop.hover ul li .ab-item,
#app-toolbar.nojs .quicklinks .menupop:hover ul li .ab-item,
#app-toolbar .shortlink-input {
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  min-width: 140px;
}

#app-toolbar .shortlink-input {
  width: 200px;
}

#app-toolbar.nojs li:hover > .ab-sub-wrapper,
#app-toolbar li.hover > .ab-sub-wrapper {
  display: block;
}

#app-toolbar .menupop li:hover > .ab-sub-wrapper,
#app-toolbar .menupop li.hover > .ab-sub-wrapper {
  margin-right: 100%;
  margin-top: -32px;
}

#app-toolbar .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
#app-toolbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
  margin-right: 0;
  right: inherit;
  left: 100%;
}

#app-toolbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#app-toolbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#app-toolbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#app-toolbar .ab-top-menu > li.hover > .ab-item {
  background: #333;
  color: #ffffff;
}

#app-toolbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#app-toolbar > #wp-toolbar li.hover span.ab-label,
#app-toolbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #ffffff;
}

#app-toolbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
#app-toolbar .ab-icon,
#app-toolbar .ab-item:before {
  position: relative;
  float: right;
  font: normal 20px/1 dashicons;
  speak: none;
  padding: 4px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none !important;
  margin-left: 6px;
}

#app-toolbar .ab-icon:before,
#app-toolbar .ab-item:before,
#app-toolbar #adminbarsearch:before {
  color: #a0a5aa;
  color: rgba(240, 245, 250, 0.6);
}

#app-toolbar .ab-icon:before,
#app-toolbar .ab-item:before,
#app-toolbar #adminbarsearch:before {
  position: relative;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#app-toolbar .ab-label {
  display: inline-block;
  height: 32px;
}

#app-toolbar .ab-submenu .ab-item {
  color: #b4b9be;
  color: rgba(240, 245, 250, 0.7);
}

#app-toolbar .quicklinks .menupop ul li a,
#app-toolbar .quicklinks .menupop ul li a strong,
#app-toolbar .quicklinks .menupop.hover ul li a,
#app-toolbar.nojs .quicklinks .menupop:hover ul li a {
  color: #b4b9be;
  color: rgba(240, 245, 250, 0.7);
}

#app-toolbar .quicklinks .menupop ul li a:hover,
#app-toolbar .quicklinks .menupop ul li a:focus,
#app-toolbar .quicklinks .menupop ul li a:hover strong,
#app-toolbar .quicklinks .menupop ul li a:focus strong,
#app-toolbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#app-toolbar .quicklinks .menupop.hover ul li a:hover,
#app-toolbar .quicklinks .menupop.hover ul li a:focus,
#app-toolbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#app-toolbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#app-toolbar.nojs .quicklinks .menupop:hover ul li a:hover,
#app-toolbar.nojs .quicklinks .menupop:hover ul li a:focus,
#app-toolbar li:hover .ab-icon:before,
#app-toolbar li:hover .ab-item:before,
#app-toolbar li a:focus .ab-icon:before,
#app-toolbar li .ab-item:focus:before,
#app-toolbar li .ab-item:focus .ab-icon:before,
#app-toolbar li.hover .ab-icon:before,
#app-toolbar li.hover .ab-item:before,
#app-toolbar li:hover #adminbarsearch:before,
#app-toolbar li #adminbarsearch.adminbar-focused:before {
  color: #ffffff;
}

#app-toolbar.mobile .quicklinks .ab-icon:before,
#app-toolbar.mobile .quicklinks .ab-item:before {
  color: #ffffff;
}

#app-toolbar.mobile .quicklinks .hover .ab-icon:before,
#app-toolbar.mobile .quicklinks .hover .ab-item:before {
  color: #ffffff;
}

#app-toolbar .menupop .menupop > .ab-item:before,
#app-toolbar .ab-top-secondary .menupop .menupop > .ab-item:before {
  position: absolute;
  font: normal 17px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-toolbar .menupop .menupop > .ab-item {
  display: block;
  padding-left: 2em;
}

#app-toolbar .menupop .menupop > .ab-item:before {
  top: 1px;
  left: 4px;
  content: "\f141";
  color: inherit;
}

#app-toolbar .ab-top-secondary .menupop .menupop > .ab-item {
  padding-right: 2em;
  padding-left: 1em;
}

#app-toolbar .ab-top-secondary .menupop .menupop > .ab-item:before {
  top: 1px;
  right: 6px;
  content: "\f139";
}

#app-toolbar .quicklinks .menupop ul.ab-sub-secondary {
  display: block;
  position: relative;
  left: auto;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#app-toolbar .quicklinks .menupop .ab-sub-secondary > li > a:hover,
#app-toolbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a {
  color: #00b9eb;
}

#app-toolbar .quicklinks a span#ab-updates {
  background: #eee;
  color: #333;
  display: inline;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 10px;
}

#app-toolbar .quicklinks a:hover span#ab-updates {
  background: #ffffff;
  color: #000;
}

#app-toolbar .ab-top-secondary {
  float: left;
}

#app-toolbar ul li:last-child,
#app-toolbar ul li:last-child .ab-item {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/**
 * My Account
 */
#wp-admin-bar-my-account > ul {
  min-width: 198px;
}

#wp-admin-bar-my-account > .ab-item:before {
  content: "\f110";
  top: 2px;
  float: left;
  margin-right: 6px;
  margin-left: 0;
}

#app-toolbar .avatar {
  border-radius: 50% !important;
}

#wp-admin-bar-my-account.with-avatar > .ab-item:before {
  display: none;
  content: none;
}

#wp-admin-bar-my-account.with-avatar > ul {
  min-width: 270px;
}

#app-toolbar #wp-admin-bar-user-actions > li {
  margin-right: 16px;
  margin-left: 16px;
}

#app-toolbar #wp-admin-bar-user-actions.ab-submenu {
  padding: 6px 0 12px;
}

#app-toolbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
  margin-right: 88px;
}

#app-toolbar #wp-admin-bar-user-info {
  margin-top: 6px;
  margin-bottom: 15px;
  height: auto;
  background: none;
}

#wp-admin-bar-user-info .avatar {
  position: absolute;
  right: -72px;
  top: 4px;
  width: 64px;
  height: 64px;
}

#app-toolbar #wp-admin-bar-user-info a {
  background: none;
  height: auto;
}

#app-toolbar #wp-admin-bar-user-info span {
  background: none;
  padding: 0;
  height: 18px;
}

#app-toolbar #wp-admin-bar-user-info .display-name,
#app-toolbar #wp-admin-bar-user-info .username {
  display: block;
}

#app-toolbar #wp-admin-bar-user-info .username {
  color: #a0a5aa;
  font-size: 11px;
}

#app-toolbar .avatar-wrap {
  margin-right: 0.5em !important;
  vertical-align: middle;
}

#app-toolbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img,
#app-toolbar #wp-admin-bar-my-account.with-avatar > a img {
  display: block;
  float: none;
  width: auto;
  height: 16px;
  padding: 0;
  border: 1px solid #cccccc;
  background: inherit;
  line-height: 24px;
}

/*
 * My Sites & Site Title
 */
#app-toolbar #wp-admin-bar-appearance {
  margin-top: -12px;
}

#app-toolbar #wp-admin-bar-my-sites > .ab-item:before,
#app-toolbar #wp-admin-bar-site-name > .ab-item:before {
  content: "\f541";
  top: 2px;
}

#app-toolbar #wp-admin-bar-customize > .ab-item:before {
  content: "\f540";
  top: 2px;
}

#app-toolbar #wp-admin-bar-edit > .ab-item:before {
  content: "\f464";
  top: 2px;
}

#app-toolbar #wp-admin-bar-site-name > .ab-item:before {
  content: "\f226";
}

.app-admin #app-toolbar #wp-admin-bar-site-name > .ab-item:before {
  content: "\f102";
}

/**
 * Comments
 */
#app-toolbar #wp-admin-bar-comments .ab-icon {
  margin-left: 6px;
}

#app-toolbar #wp-admin-bar-comments .ab-icon:before {
  content: "\f101";
  top: 3px;
}

#app-toolbar #wp-admin-bar-comments .count-0 {
  opacity: .5;
}

/**
 * New Content
 */
#app-toolbar #wp-admin-bar-new-content .ab-icon:before {
  content: "\f132";
  top: 4px;
}

/**
 * Updates
 */
#app-toolbar #wp-admin-bar-updates .ab-icon:before {
  content: "\f463";
  top: 2px;
}

/**
 * Search
 */
#app-toolbar #wp-admin-bar-search .ab-item {
  padding: 0;
  background: transparent;
}

#app-toolbar #adminbarsearch {
  position: relative;
  height: 32px;
  padding: 0 2px;
  z-index: 1;
}

#app-toolbar #adminbarsearch:before {
  position: absolute;
  top: 6px;
  right: 5px;
  z-index: 20;
  font: normal 20px/1 dashicons !important;
  content: "\f179";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* The admin bar search field needs to reset many styles that might be inherited from the active Theme CSS. See ticket #40313. */
#app-toolbar > #app-toolbar-links > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input {
  display: inline-block;
  float: none;
  position: relative;
  z-index: 30;
  font-size: 13px;
  line-height: 24px;
  text-indent: 0;
  height: 24px;
  width: 24px;
  max-width: none;
  padding: 0 24px 0 3px;
  margin: 0;
  color: #cccccc;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, background;
  transition-property: width, background;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#app-toolbar > #app-toolbar-links > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  z-index: 10;
  color: #000;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: text;
  border: 0;
}

#app-toolbar #adminbarsearch .adminbar-button {
  display: none;
}

/**
 * Customize support classes
 */
.no-customize-support .hide-if-no-customize,
.customize-support .hide-if-customize,
.no-customize-support #app-toolbar .hide-if-no-customize,
.no-customize-support.app-core-ui .hide-if-no-customize,
.no-customize-support .app-core-ui .hide-if-no-customize,
.customize-support #app-toolbar .hide-if-customize,
.customize-support.app-core-ui .hide-if-customize,
.customize-support .app-core-ui .hide-if-customize {
  display: none;
}

/* Skip link */
#app-toolbar .screen-reader-text,
#app-toolbar .screen-reader-text span {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

#app-toolbar .screen-reader-shortcut {
  position: absolute;
  top: -1000em;
}

#app-toolbar .screen-reader-shortcut:focus {
  right: 6px;
  top: 7px;
  height: auto;
  width: auto;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 23px 14px;
  background: #cccccc;
  color: #ffee00;
  z-index: 100000;
  line-height: normal;
  text-decoration: none;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

/**
 * IE 6-targeted rules
 */
* html #app-toolbar {
  overflow: hidden;
  position: absolute;
}

* html #app-toolbar .quicklinks ul li a {
  float: right;
}

* html #app-toolbar .menupop a span {
  background-image: none;
}

/* No @font-face support */
.no-font-face #app-toolbar ul.ab-top-menu > li > a.ab-item {
  display: block;
  width: 45px;
  text-align: center;
  overflow: hidden;
  margin: 0 3px;
}

.no-font-face #app-toolbar #wp-admin-bar-my-sites > .ab-item,
.no-font-face #app-toolbar #wp-admin-bar-site-name > .ab-item,
.no-font-face #app-toolbar #wp-admin-bar-edit > .ab-item {
  text-indent: 0;
}

.no-font-face #app-toolbar .ab-icon,
.no-font-face #app-toolbar .ab-icon:before,
.no-font-face #app-toolbar a.ab-item:before {
  display: none !important;
}

.no-font-face #app-toolbar ul.ab-top-menu > li > a > span.ab-label {
  display: inline;
}

.no-font-face #app-toolbar #wp-admin-bar-menu-toggle span.ab-icon {
  display: inline !important;
}

.no-font-face #app-toolbar #wp-admin-bar-menu-toggle span.ab-icon:before {
  content: "Menu";
  font: 14px/45px sans-serif !important;
  display: inline-block !important;
  color: #ffffff;
}

.no-font-face #app-toolbar #wp-admin-bar-site-name a.ab-item {
  color: #ffffff;
}

/* End no @font-face */
#toolbar-flags {
  float: left;
}

.toolbar-flag {
  display: inline-block;
  padding: 0 1em;
  font-weight: 900;
  font-weight: bolder;
  color: #ffffff;
}

@supports (font-variation-settings: normal) {
  .toolbar-flag {
    font-weight: 850;
  }
}

#dev-mode-flag {
  background-color: #ee6600;
}

@media screen and (max-width: 782px) {
  /* Toolbar Touchification*/
  html #app-toolbar {
    height: 46px;
    min-width: 300px;
  }
  #app-toolbar * {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
  }
  #app-toolbar .quicklinks > ul > li > a,
  #app-toolbar .quicklinks .ab-empty-item {
    padding: 0;
    height: 46px;
    line-height: 46px;
    width: auto;
  }
  #app-toolbar .ab-icon {
    font: 40px/1 dashicons !important;
    margin: 0;
    padding: 0;
    width: 52px;
    height: 46px;
    text-align: center;
  }
  #app-toolbar .ab-icon:before {
    text-align: center;
  }
  #app-toolbar .ab-submenu {
    padding: 0;
  }
  #app-toolbar #wp-admin-bar-site-name a.ab-item,
  #app-toolbar #wp-admin-bar-my-sites a.ab-item,
  #app-toolbar #wp-admin-bar-my-account a.ab-item {
    text-overflow: clip;
  }
  #app-toolbar .ab-label {
    display: none;
  }
  #app-toolbar .menupop li:hover > .ab-sub-wrapper,
  #app-toolbar .menupop li.hover > .ab-sub-wrapper {
    margin-top: -46px;
  }
  #app-toolbar .ab-top-menu .menupop .ab-sub-wrapper .menupop > .ab-item {
    padding-left: 30px;
  }
  #app-toolbar .menupop .menupop > .ab-item:before {
    top: 10px;
    left: 6px;
  }
  #app-toolbar .ab-top-menu > .menupop > .ab-sub-wrapper .ab-item {
    font-size: 16px;
    padding: 8px 16px;
  }
  #app-toolbar .ab-top-menu > .menupop > .ab-sub-wrapper a:empty {
    display: none;
  }
  /* My Sites and "Site Title" menu */
  #app-toolbar #wp-admin-bar-my-sites > .ab-item,
  #app-toolbar #wp-admin-bar-site-name > .ab-item,
  #app-toolbar #wp-admin-bar-customize > .ab-item,
  #app-toolbar #wp-admin-bar-edit > .ab-item,
  #app-toolbar #wp-admin-bar-my-account > .ab-item {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 52px;
    padding: 0;
    position: relative;
  }
  #app-toolbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
  #app-toolbar .ab-icon,
  #app-toolbar .ab-item:before {
    padding: 0;
    margin-left: 0;
  }
  #app-toolbar #wp-admin-bar-edit > .ab-item:before,
  #app-toolbar #wp-admin-bar-my-sites > .ab-item:before,
  #app-toolbar #wp-admin-bar-site-name > .ab-item:before,
  #app-toolbar #wp-admin-bar-customize > .ab-item:before,
  #app-toolbar #wp-admin-bar-my-account > .ab-item:before {
    display: block;
    text-indent: 0;
    font: normal 32px/1 dashicons;
    speak: none;
    top: 7px;
    width: 52px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #app-toolbar #wp-admin-bar-appearance {
    margin-top: 0;
  }
  /* Search */
  #app-toolbar #wp-admin-bar-search {
    display: none;
  }
  /* New Content */
  #app-toolbar #wp-admin-bar-new-content .ab-icon:before {
    top: 0;
    line-height: 53px;
    height: 46px !important;
    text-align: center;
    width: 52px;
    display: block;
  }
  /* Updates */
  #app-toolbar #wp-admin-bar-updates {
    text-align: center;
  }
  #app-toolbar #wp-admin-bar-updates .ab-icon:before {
    top: 3px;
  }
  /* Comments */
  #app-toolbar #wp-admin-bar-comments .ab-icon {
    margin: 0;
  }
  #app-toolbar #wp-admin-bar-comments .ab-icon:before {
    display: block;
    font-size: 34px;
    height: 46px;
    line-height: 47px;
    top: 0;
  }
  /* My Account */
  #app-toolbar #wp-admin-bar-my-account > a {
    position: relative;
    white-space: nowrap;
    text-indent: 150%;
    /* More than 100% indention is needed since this element has padding */
    width: 28px;
    padding: 0 10px;
    overflow: hidden;
    /* Prevent link text from forcing horizontal scrolling on mobile */
  }
  #app-toolbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 26px;
    height: 26px;
  }
  #app-toolbar #wp-admin-bar-user-actions.ab-submenu {
    padding: 0;
  }
  #app-toolbar #wp-admin-bar-user-actions.ab-submenu img.avatar {
    display: none;
  }
  #app-toolbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
    margin: 0;
  }
  #app-toolbar #wp-admin-bar-user-info .display-name {
    height: auto;
    font-size: 16px;
    line-height: 24px;
    color: #eee;
  }
  #app-toolbar #wp-admin-bar-user-info a {
    padding-top: 4px;
  }
  #app-toolbar #wp-admin-bar-user-info .username {
    line-height: 0.8 !important;
    margin-bottom: -2px;
  }
  /* Show only default top level items */
  #wp-toolbar > ul > li {
    display: none;
  }
  #app-toolbar li#wp-admin-bar-menu-toggle,
  #app-toolbar li#wp-admin-bar-my-sites,
  #app-toolbar li#wp-admin-bar-updates,
  #app-toolbar li#wp-admin-bar-site-name,
  #app-toolbar li#wp-admin-bar-customize,
  #app-toolbar li#wp-admin-bar-new-content,
  #app-toolbar li#wp-admin-bar-edit,
  #app-toolbar li#wp-admin-bar-comments,
  #app-toolbar li#wp-admin-bar-my-account {
    display: block;
  }
  /* Allow dropdown list items to appear normally */
  #app-toolbar li:hover ul li,
  #app-toolbar li.hover ul li,
  #app-toolbar li:hover ul li:hover ul li {
    display: list-item;
  }
  /* Override default min-width so dropdown lists aren't stretched
		to 100% viewport width at responsive sizes. */
  #app-toolbar .ab-top-menu > .menupop > .ab-sub-wrapper {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  #app-toolbar ul#wp-admin-bar-root-default > li {
    margin-left: 0;
  }
  /* Experimental fix for touch toolbar dropdown positioning */
  #app-toolbar .ab-top-menu,
  #app-toolbar .ab-top-secondary,
  #app-toolbar #wp-admin-bar-my-sites,
  #app-toolbar #wp-admin-bar-site-name,
  #app-toolbar #wp-admin-bar-updates,
  #app-toolbar #wp-admin-bar-comments,
  #app-toolbar #wp-admin-bar-new-content,
  #app-toolbar #wp-admin-bar-edit,
  #app-toolbar #wp-admin-bar-my-account {
    position: static;
  }
  #app-toolbar #wp-admin-bar-my-account {
    float: left;
  }
  .network-admin #app-toolbar ul#wp-admin-bar-top-secondary > li#wp-admin-bar-my-account {
    margin-left: 0;
  }
  /* Realign arrows on taller responsive submenus */
  #app-toolbar .ab-top-secondary .menupop .menupop > .ab-item:before {
    top: 10px;
    right: 0;
  }
}

/* Smartphone */
@media screen and (max-width: 600px) {
  #app-toolbar {
    position: absolute;
  }
  #wp-responsive-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
  }
  #app-toolbar .ab-top-menu > .menupop > .ab-sub-wrapper {
    width: 100%;
    right: 0;
  }
  #app-toolbar .menupop .menupop > .ab-item:before {
    display: none;
  }
  #app-toolbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
    margin: 0;
    width: 100%;
    top: auto;
    right: auto;
    position: relative;
  }
  #app-toolbar .ab-top-menu > .menupop li > .ab-sub-wrapper .ab-item {
    font-size: 16px;
    padding: 6px 30px 19px 15px;
  }
  #app-toolbar li:hover ul li ul li {
    display: list-item;
  }
  #app-toolbar li#wp-admin-bar-updates {
    display: none;
  }
  /* Make submenus full-width at this size */
  #app-toolbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* Very narrow screens */
@media screen and (max-width: 400px) {
  #app-toolbar li#wp-admin-bar-comments {
    display: none;
  }
}
