@import '../partials/_font-faces';
@import '../modules/_typography';
@import '../modules/_colors';

/**
 * Typography
 */
body {
	background: $body_background;
	font-family: $sans;
	line-height: 1.5;
	color:$text_color;

	@supports( font-variation-settings: normal ) {
		font-family: $variable_sans;
	}

	&.dark-mode {
		background: $near_black;
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		ul,
		ol,
		li,
		a,
		a:visited {
			color: $white;
		}

		#wpadminbar,
		#wpadminbar .ab-top-menu > li.hover > .ab-item,
		#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
		#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
		#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
		#wpadminbar .menupop .ab-sub-wrapper,
		#wpadminbar .shortlink-input {
			background: $dark_gray;
		}
	}
}

.serif {
	font-family: $serif;

	@supports( font-variation-settings: normal ) {
		font-family: $variable_serif;
	}
}

.entry-content,
.sidebar,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin-top: 1em;
}

/**
 * Links
 *
 * Any change to the default link style ought to be applied to button-link too.
 */
 a {
	color: $link_color;
	-webkit-print-color-adjust: exact !important;
	        color-adjust: exact !important;

	&:hover,
	&:focus {
		color: $link_action_color;
	}
}

.entry-title {

	a {
		text-decoration: none;
	}
}

.entry-subtitle {
	font-size: 1.2em;
	font-weight: 700;
}

.entry-content ul,
.widget-area ul,
.entry-content ol,
.widget-area ol {
	padding-left: 1em;
}

pre,
code,
kbd,
samp {
	font-family: $monospace;

	@supports( font-variation-settings: normal ) {
		font-family: $variable_mono;

		// Keep scale with Inter.
		font-size: 0.925em;
	}

	@supports( font-variation-settings: "wdth" ) {
		font-variation-settings: "wdth" 110;
	}
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

@media ( prefers-color-scheme: dark ) {

	body {
		background: $near_black;
		color: $white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	li,
	a,
	a:visited {
		color: $white;
	}

	#wpadminbar,
	#wpadminbar .ab-top-menu > li.hover > .ab-item,
	#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
	#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
	#wpadminbar .menupop .ab-sub-wrapper,
	#wpadminbar .shortlink-input {
		background: $dark_gray;
	}
}