/**
 * Typography
 */
body {
	background: $white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	color: $text;

	&.dark-mode {
		background: $dark_bg;
		color: $white;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		ul,
		ol,
		li,
		a,
		a:visited {
			color: $white;
		}

		#wpadminbar,
		#wpadminbar .ab-top-menu > li.hover > .ab-item,
		#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
		#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
		#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
		#wpadminbar .menupop .ab-sub-wrapper,
		#wpadminbar .shortlink-input {
			background: $dark_gray;
		}
	}
}

.serif {
	font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif;
}

.entry-content,
.sidebar,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin-top: 1em;
}

a {
	color: $link;
}

a:visited {
	color: $visited;
}

.entry-title {

	a {
		text-decoration: none;
	}
}

.entry-subtitle {
	font-size: 1.2em;
	font-weight: 700;
}

.entry-content ul,
.widget-area ul,
.entry-content ol,
.widget-area ol {
	padding-left: 1em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

@media ( prefers-color-scheme: dark ) {

	body {
		background: $dark_bg;
		color: $white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	li,
	a,
	a:visited {
		color: $white;
	}

	#wpadminbar,
	#wpadminbar .ab-top-menu > li.hover > .ab-item,
	#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
	#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
	#wpadminbar .menupop .ab-sub-wrapper,
	#wpadminbar .shortlink-input {
		background: $dark_gray;
	}
}