/**
 * General
 */
@import '_variables';

body {
	direction: rtl;
	unicode-bidi: embed;
}

.entry-content ul,
.sidebar-widgets ul,
.entry-content ol,
.sidebar-widgets ol {
	padding: 0 1em 0 0;
}

/**
 * Images
 */
.alignleft {
	float: right;
}

img.alignleft,
figure.alignleft {
	margin: 1em 0 0 1em;
}

.alignright {
	float: left;
}

img.alignright,
figure.alignright {
	margin: 1em 1em 0 0;
}

.entry-content p {

	img.alignleft {
		margin: 0 0 1em 1em;
	}

	img.alignright {
		margin: 0 1em 1em 0;
	}
}

/**
 * Forms
 */
.search-label {
	margin: 0 0 0 0.3em;
}

input[type="search"] {

	&+button {
		border-left: solid 1px $pale_gray;
		border-right: none;

		&:focus {
			border-color: $light_gray;
		}
	  }
}

/**
 * Navigation
 */
.main-navigation {
	float: right;

	ul {
		padding-right: 0;

		ul {
			float: right;
			left: auto;
			right: -999em;

			ul {
				left: auto;
				right: -999em;
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
				right: 100%;
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			right: auto;
		}
	}
}

/* Small menu. */

@media screen and (min-width: 37.5em) {

	.main-navigation div > ul > li {
		margin: 0 0 0 1em;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
}