/**
 * General
 */
/**
 * SASS/SCSS variables
 *
 * The following variables are used in other .scss files.
 * Make sure that this files is called early in style,scss.
 *
 * @link https://sass-lang.com/documentation/variables
 */
/**
 * Colors
 *
 * Some variables use colors set by args in the functions file.
 *
 * @see functions.php/setup
 */
/**
 * Font sizes
 *
 * The font size variables presume a browser default of 16px,
 * in which case the variable number is equivelent to a px number.
 *
 * SASS can't have variables beginning with a numeral.
 */
body {
  direction: rtl;
  unicode-bidi: embed;
}

.entry-content ul,
.widget-area ul,
.entry-content ol,
.widget-area ol {
  padding: 0 1em 0 0;
}

/**
 * Images
 */
.alignleft {
  float: right;
}

img.alignleft,
figure.alignleft {
  margin: 1em 0 0 1em;
}

.alignright {
  float: left;
}

img.alignright,
figure.alignright {
  margin: 1em 1em 0 0;
}

.entry-content p img.alignleft {
  margin: 0 0 1em 1em;
}

.entry-content p img.alignright {
  margin: 0 1em 1em 0;
}

/**
 * Forms
 */
.search-label {
  margin: 0 0 0 0.3em;
}

/**
 * Navigation
 */
.main-navigation {
  float: right;
}

.main-navigation ul {
  padding-right: 0;
}

.main-navigation ul ul {
  float: right;
  left: auto;
  right: -999em;
}

.main-navigation ul ul ul {
  left: auto;
  right: -999em;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: auto;
  right: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  right: auto;
}

/* Small menu. */
@media screen and (min-width: 37.5em) {
  .main-navigation ul li:not(:last-of-type) {
    margin-right: 0;
    margin-left: 1em;
  }
}

@media screen and (min-width: 48em) {
  .site-content .content-area {
    padding-right: 0;
    padding-left: 1.875rem;
  }
  .site-content .widget-area {
    margin-right: 0;
    margin-left: 1.875rem;
  }
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: right;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: left;
  text-align: left;
}

/**
 * Header
 */
.site-identity .site-logo {
  margin-right: 0;
  margin-left: 1em;
}
