/**
 * Default app admin color variables
 *
 * Assign default value to all undefined variables,
 * pure white and pure black excepted.
 *
 * @link https://sass-lang.com/documentation/variables
 */

// Import general app variables.
@import '../../includes/modules/_colors.scss';

// Global app admin variables.
$body_background: $white !default;
$text_color: #222222 !default;
$link: #004499 !default;
$link_action: lighten( $link, 10% ) !default;
$highlight-color: lighten( $link, 10% ) !default;

$notify_color: $app_orange !default;
$error_color: $app_red !default;
$warning_color: $app_yellow !default;
$success_color: $app_green !default;

// Forms.
$form_focus: $highlight-color !default;
$form_checked: $highlight-color !default;

// Admin menu & admin-bar.
$menu_base_color: #222 !default;
$menu_text_color: $white !default;
$menu_icon_color: hsl( hue( $menu_base_color ), 7%, 95% ) !default;
$button-color: $highlight-color !default;

$menu-icon: $menu_icon_color !default;
$menu-background: $menu_base_color !default;

$menu-highlight-text: $menu_text_color !default;
$menu-highlight-icon: $menu_text_color !default;
$menu-highlight-background: $highlight-color !default;

$menu-current-text: $menu-highlight-text !default;
$menu-current-icon: $menu-highlight-icon !default;
$menu-current-background: $menu-highlight-background !default;

$menu-submenu-text: mix( $menu_base_color, $menu_text_color, 30% ) !default;
$menu-submenu-background: darken( $menu_base_color, 7% ) !default;
$menu-submenu-background-alt: desaturate( lighten( $menu-background, 7% ), 7% ) !default;

$menu-submenu-focus-text: $highlight-color !default;
$menu-submenu-current-text: $menu_text_color !default;

$menu-bubble-text: $menu_text_color !default;
$menu-bubble-background: $notify_color !default;
$menu-bubble-current-text: $menu_text_color !default;
$menu-bubble-current-background: $menu-submenu-background !default;

$menu-collapse-text: $menu-icon !default;
$menu-collapse-icon: $menu-icon !default;
$menu-collapse-focus-text: $menu_text_color !default;
$menu-collapse-focus-icon: $menu-highlight-icon !default;

$adminbar-avatar-frame: lighten( $menu-background, 7% ) !default;
$adminbar-input-background: lighten( $menu-background, 7% ) !default;

$menu-customizer-text: mix( $menu_base_color, $menu_text_color, 40% ) !default;