///
/// CodeMirror Islander theme
///
/// Designed to look like a popular theme with
/// a Polynesian-sounding name.

@import '../../modules/_colors';

.code-theme-islander {

	.CodeMirror {
		background: #272822; color: #f8f8f2;
	}

	div.CodeMirror-selected {
		background: #49483e;
	}

	.CodeMirror-line::selection,
	.CodeMirror-line > span::selection,
	.CodeMirror-line > span > span::selection {
		background: rgba(73, 72, 62, .99);
	}

	.CodeMirror-line::-moz-selection,
	.CodeMirror-line > span::-moz-selection,
	.CodeMirror-line > span > span::-moz-selection {
		background: rgba(73, 72, 62, .99);
	}

	.CodeMirror-gutters {
		background: #272822;
		border-right: 0px;
	}

	.CodeMirror-guttermarker {
		color: white;
	}

	.CodeMirror-guttermarker-subtle {
		color: #d0d0d0;
	}

	.CodeMirror-linenumber {
		color: #d0d0d0;
	}

	.CodeMirror-cursor {
		border-left: 1px solid #f8f8f0;
	}

	span.cm-comment {
		color: #75715e;
	}

	span.cm-atom {
		color: #ae81ff;
	}

	span.cm-number {
		color: #ae81ff;
	}

	span.cm-comment.cm-attribute {
		color: #97b757;
	}

	span.cm-comment.cm-def {
		color: #bc9262;
	}

	span.cm-comment.cm-tag {
		color: #bc6283;
	}

	span.cm-comment.cm-type {
		color: #5998a6;
	}

	span.cm-property,
	span.cm-attribute {
		color: #a6e22e;
	}

	span.cm-keyword {
		color: #f92672;
	}

	span.cm-builtin {
		color: #66d9ef;
	}

	span.cm-string {
		color: #e6db74;
	}

	span.cm-variable {
		color: #f8f8f2;
	}

	span.cm-variable-2 {
		color: #9effff;
	}

	span.cm-variable-3,
	span.cm-type {
		color: #66d9ef;
	}

	span.cm-def {
		color: #fd971f;
	}

	span.cm-bracket {
		color: #f8f8f2;
	}

	span.cm-tag {
		color: #f92672;
	}

	span.cm-header {
		color: #ae81ff;
	}

	span.cm-link {
		color: #ae81ff;
	}

	span.cm-error {
		background: #f92672;
		color: #f8f8f0;
	}

	.CodeMirror-activeline-background {
		background: #373831;
	}

	.CodeMirror-matchingbracket {
		text-decoration: underline;
		color: white !important;
	}
}
